@charset "utf-8";

@import url('reset.css');

body.noscroll #wrap{position: relative;}
body.noscroll {overflow: hidden;position: fixed;width: 100%;height: 100%;touch-action: none;}
.pc{display: none}

.fix_inner{padding: 0 13px;}

#header{position:relative;text-align: center;border-bottom:1px solid #ddd;box-sizing: border-box;transition: all 0.2s}
#header > .fix_inner{height:60px;}
#header .logo{display:inline-block;vertical-align: middle;padding-top: 2px;/*padding-left:70px*/}
#header .logo > a{display:block;width:150px;height:57px;background: url(../images/logo.png) no-repeat 0;transition: all 0.2s}

#header .btns.bell{position:absolute;top:50%;right:42px;
	-webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -sand-transform: translateY(-50%);
    transform:translateY(-50%);
}

#hamberger{position:absolute;top:50%;right:8px;margin-top:-15px;width:30px;height:30px;}

.total_menu{display:none;position:fixed; left:0px; top:0; z-index:900; width:100%; height:100%;}
.total_menu .dim{display:none;position:fixed; left:0; top:0; z-index:10; width:100%; height:100%; background-color: rgba(0,0,0,.6);}
.total_menu .total_nav{position:absolute;padding-top:52px;right:-88%;width:88%;height:100%;z-index:11;text-align:left;font-size: 16px;color: #333;overflow-y: auto;box-sizing: border-box;}
.total_menu .total_nav .inner{min-height: 100%;position: relative;background: #fff;border-top: 2px solid #f27824;box-sizing: border-box;}
.total_menu .close{position: absolute;top:0;right:0;z-index:11;}
.close {position: relative;width: 52px;height: 52px;background: #424242;}
.close:before,
.close:after{display: block;content: '';position: absolute;top:16px;left:24px;height: 22px;border-left: 4px solid #fff;}
.close:before {transform: rotate(-45deg);}
.close:after{transform: rotate(45deg);}

.close.type2{width: 26px;height: 26px;background: #f27824;}
.close.type2:before,
.close.type2:after{top:6px;left:13px;height: 14px;border-left: 1px solid #fff;}

.top_link:after,
.lnb:after,
.etc_link:after,
.schedule_list .etc_info .item:after{display: block;content: '';clear: both;}
.top_link{background-color:#f5f5f5;}
.top_link > li{float: left;display:table;width: 50%;border-right: 1px solid #d8d8d8;box-sizing: border-box}
.top_link > li:last-child{border-right: 0}
.top_link > li > a{display: table-cell;height:45px;text-align: center;vertical-align: middle;font-size: 15px;color: #555;font-weight: 500}

.lnb > li.home{display: none;}
.lnb > li > a{position:relative;display: block;padding:13px 0 13px 15px;font-size: 15px;color: #555;font-weight: 500;border-bottom: 1px solid #ccc;background-color: #fff;}
.lnb > li > a:after{display: block;content: '';width: 22px;height:12px;position: absolute;top:50%;right:15px;background: url(../images/icn_bul.png) no-repeat 0 0 / 22px auto;
	-webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -sand-transform: translateY(-50%);
    transform:translateY(-50%);
}
.lnb > li.active > a:after{background-position: 0 -13px}
.lnb .sub_depth{display:none;background-color: #f7f7f7}
.lnb .sub_in{padding:2px 25px 11px;border-bottom: 1px solid #ccc;}
.lnb .sub_depth li{border-bottom: 1px solid #ddd;}
.lnb .sub_depth a{display: block;padding: 12px 0;font-size: 12px;color: #666}

#footer{background-color: #3a3c3e;font-size: 13px;color: rgba(255,255,255,0.3)}
#footer .nav{display: none}
#footer .footer_util{background-color: #4e5052;border-bottom: 1px solid #606264}
.etc_link > li{float: left;width: 33.333%;height:52px;display: table;font-size:0.75em}
.etc_link > li  > a{display: table-cell;text-align: center;vertical-align: middle;color: #d1d1d1;}
#footer address{text-align: center;line-height: 1.65}
#footer .footer_info{padding: 55px 0 24px;background: url(../images/f_logo.png) no-repeat 50% 10px / 108px auto;}

.thumb{display:inline-block;overflow:hidden;width:100%;height:100%}
.thumb img{object-fit: cover;object-position: 50% 50%;width:100%;height:100%;}

.container{background-color: #f6f6f6}
.container.bg_white_all{background-color: #fff}
.sub_visual{display: none;}
.left_area{padding-top: 19px;}
.right_area{padding-bottom: 30px}
.subtitle,
.subtitle03{margin-bottom: 20px;font-size: 20px;color: #111;font-weight: 700;text-align: center}
.subtitle02{position:relative;margin-bottom: 23px;font-size: 20px;color: #111;font-weight: 700;text-align: center}
.subtitle03.mb_type1{margin-bottom: 4px;}
.subtext{padding-bottom:20px;font-size: 13px;color: #666;text-align: center;line-height: 1.55;font-weight: 350}
.search_form{background-color: #fff;}
.search_form .inner{padding: 20px;}
.search_form,
.search_form .group_w{margin-bottom: 20px}

.radio{position:relative;display:block;-webkit-box-sizing:border-box;box-sizing:border-box}
.radio input{position:absolute;top:50%;left:1px;width:18px;height:18px;margin-top:-10px;outline:0}
.radio label{position:relative;display:block;width:100%;padding-left:29px;font-size:14px;font-weight:700;line-height:21px;cursor:pointer;color:#333;-webkit-box-sizing:border-box;box-sizing:border-box}
:root .radio label:before{content:'';position:absolute;top:50%;left:1px;display:block;width:20px;height:20px;margin-top:-10px;background:#f5f6f7 url(./images/pc_chcek_off_s_20.png) no-repeat 0 0;-webkit-background-size:20px 20px;background-size:20px 20px}
:root .radio input:checked+label:before{content:'';background:#f5f6f7 url(./images/pc_chcek_on_s_20.png) no-repeat 0 0;-webkit-background-size:20px 20px;background-size:20px 20px}

.radio.type1 input{width:1px;height:1px;z-index: -1;border: 0;background-color: transparent}
.radio.type1 label{padding-left:0;font-size:15px;line-height:46px;color:#111;font-weight:400;text-align:center;}
:root .radio.type1 label:before{width:100%;height:1px;top:auto;bottom: 0;left:0;margin-top: 0;background: #e8e8e8}
:root .radio.type1 label:hover,
:root .radio.type1 input:checked+label{color:#f27824}
:root .radio.type1 label:hover:before,
:root .radio.type1 input:checked+label:before{height: 2px;background: #f27824;}

.check{position:relative;display:block;-webkit-box-sizing:border-box;box-sizing:border-box}
.check input{position:absolute;top:50%;left:1px;width:1px;height:1px;margin-top:-7px;outline:0;}
.check label{position:relative;display:block;width:100%;padding-left:21px;font-size:13px;font-weight:350;cursor:pointer;color:#666;-webkit-box-sizing:border-box;box-sizing:border-box}
.check label:before{content:'';position:absolute;top:50%;left:0;display:block;width:15px;height:15px;margin-top:-7px;background:#fff url(../images/cont/chk.png) no-repeat 0 0;background-size:15px 30px}
.check input:checked+label:before{content:'';background-position: 0 -15px;}

.btn_shape{position:relative;display: inline-block;vertical-align: middle;box-sizing:border-box}
.btn_shape input{position:absolute;top:50%;left:1px;width:15px;height:15px;margin-top:-8px;outline:0;z-index:-1;}
.btn_shape label{position:relative;display:block;padding:10px 12px;text-align:center;font-size:13px;color:#0085db;border:1px solid #0085db;width:auto;background-color: #fff;border-radius: 4px;cursor:pointer;box-sizing:border-box}
:root .btn_shape input:checked+label{background-color: #1868ad;border-color: #1868ad;color: #fff;}

.btn_shape.type1 label{padding: 9px 5px;min-width:66px;font-size: 12px;font-weight: 700;color: #666;background-color: #f6f6f6;border-color: #dfdfdf}
:root .btn_shape.type1 input:checked+label{background-color: #f27824;color: #fff;border-color: #f27824}

.select{padding:7px 8px 6px 7px\9;*height:auto;*margin-top:3px;-webkit-appearance:none}
:root .select{background:#fff url(../images/cont/sel_arr.png) 100% 50% no-repeat;-webkit-background-size:21px 5px;background-size:21px 5px;}
.select::-ms-expand{display:none;}
@-moz-document url-prefix(){.select{background:0 0}}
.select option{color: #666;}
.select:focus::-ms-value {color: #666;background: none;}
.select.type1{padding-right:30px;font-weight: 350;font-size: 13px;border: 0;width: auto;margin-bottom: 0;}
.select.type2{min-width: 102px;margin-bottom: 0;width: auto;height: 38px;}
.select.cr1{border-color: #47b23f;color: #47b23f;font-size: 12px;}
.select.cr2{border-color: #ec6126;color: #ec6126;font-size: 12px;}

.int_box,
.row_fluid,
.has_btn{display: table;width: 100%;box-sizing: border-box}
.int_box > .col,
.row_fluid > .col{display: table-cell;width: 50%;}
.row_fluid > .colFcl {display: table-cell;width: 70%;}
.int_box > .col{width: auto}
/*.int_box > .col.label,
.int_box > .col.util{width: 5px}*/

.int_box{padding-left:13px;font-size: 13px;color: #666;border: 1px solid #e8e8e8;position: relative}
.slide_box{display:none}
.int_box input{padding: 0 5px;}
.int_box input,
.int_box .btns.icon{height:36px;}

/* �ڵ��ϼ� ������ */
.ui-widget.int_box{padding-left:0}
.ui-widget.int_box .ui-autocomplete-input{padding-left:13px}

.form-group .ui-widget {position:relative}
.POL[type=text]:-ms-clear{display: none;}
.searchclear {position: absolute;right: 6px;top: 7px;bottom: 15px;width: 15px;height: 14px;margin: auto;font-size: 15px;cursor: pointer;color: #ccc;background-color: #fff;}

.ui-menu {width: 219px !important;max-width: 300px !important;max-height: 250px;overflow-x:hidden;overflow-y:scroll;}
.ui-menu-item-wrapper {font-size: 9pt;}
/* �ڵ��ϼ� ������ */
.has_btn .col{display: table-cell;vertical-align: middle}
.has_btn .col.btn{width: 1px;padding-left: 8px}
.has_btn .col .btns{width: 70px;padding: 10px 6px;}
.has_btn .col.btn .select{width: 94px;margin-bottom: 0}

.int_box,
.select{border: 1px solid #e8e8e8;border-radius: 4px;margin-bottom:10px;}
.int{border: 1px solid #e8e8e8;border-radius: 4px;margin-bottom:5px;}
.int_box.incorrect,
.select.incorrect,
.int.incorrect{border-color: #de3211;transition: all 0.2s}
.int_box input,
.select,
.int{width:100%;font-size: 13px;color: #666;}
.select.has_required,
.int.has_required{padding-left:24px;background: url(../images/cont/icn_required.png) no-repeat 15px 42% / 7px auto;}
.select.has_required{
	background-image: url(../images/cont/sel_arr.png), url(../images/cont/icn_required.png);background-repeat: no-repeat, no-repeat;
	background-position: 100% 50%, 15px 42%;background-size: 21px 5px, 7px auto;
}

.select,
.int{height: 38px;padding: 0 12px;}

.textarea{padding: 10px 12px;border: 1px solid #e8e8e8;resize: none;width: 100%;border-radius: 4px;vertical-align: top}
.textarea.h1{height: 105px;}

.btns{position: relative;display: inline-block;text-align: center;vertical-align: middle;box-sizing: border-box}
.btns.icon{width: 40px;height:36px;}
.btns.icon:before{display: inline-block;content:'';background-position: 50% 50%;background-size: cover;background-repeat: no-repeat;vertical-align: middle;position: absolute;top:50%;left:50%;
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -sand-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/*.btns.calendar{padding: 11px 13px;}*/
.btns.calendar:before{background-image: url(../images/cont/icn_calendar.png);width: 15px;height:15px;}
.btns.marker:before{background-image: url(../images/cont/close.png);width: 13px;height:17px;}
.btns.type:before{background: url(../images/cont/view_type.png) no-repeat 0 -3px;width: 24px;height:20px}
.btns.type2:before{background-position:-25px 0;height:24px}
.btns.type.on:before{background-position:0 -27px;}
.btns.type2.on:before{background-position:-25px -24px;}
.btns.search:before{background-image: url(../images/cont/icn_search.png);width: 14px;height:15px;}
.btns.download,
.btns.delete{width: 30px;height:30px;}
.btns.download:before{background: url(../images/cont/icn_download.png) no-repeat 0 0 / cover;width: 16px;height:15px}
.btns.delete:before{background: url(../images/cont/icn_garbage.png) no-repeat 0 0 / cover;width: 18px;height:17px}
.btns.rectangle{width: 100%;padding: 12px 0;background-color: #f27824;color: #fff;font-size: 15px;font-weight: 700;border-radius: 100px;
	-webkit-box-shadow: 0px 5px 8px 0px rgba(242, 120, 36, 0.5);
	-moz-box-shadow: 0px 5px 8px 0px rgba(242, 120, 36, 0.5);
	box-shadow: 0px 5px 8px 0px rgba(242, 120, 36, 0.5);
}
.btns.radius{padding:10px 10px;border-radius: 4px;font-size: 13px;font-weight: 700;border: 1px solid #28b8ce;color: #28b8ce}
.btns.radius.cr1{border-color: #f27824;color: #f27824;}
.btns.radius.cr2{border-color: #969696;color: #969696;}
.btns.radius.cr3{border-color: #818181;color: #fff;background-color: #818181}
.btns.radius.cr4{border-color: #ec6126;color: #fff;background-color: #ec6126}
.btns.radius.cr5{border-color: #1868ad;color: #fff;background-color: #1868ad}
.btns.radius.cr6{border-color: #1868ad;color: #1868ad;}
.btns.radius.cr7{border-color: #666;color: #666;}
.btns.radius.big{font-size: 15px;padding: 14px 0;min-width: 100px;border-radius: 5px;}
.btns.radius.mid{font-weight: 400;padding-left: 8px;padding-right: 8px}
.btns.prev:before,
.btns.next:before{background: url(../images/cont/icn_bull3.png) no-repeat 0 0 / auto 9px;width: 6px;height:9px;}
.btns.next:before{background-position: -6px 0}
.btns.more{width: 40px;height:40px;background-color: #f27824;border-radius: 100%}
.btns.more:before {content: '';position: absolute;top: 50%;left: 50%;width: 5px;height: 5px;border-right: 2px solid #fff;border-bottom: 2px solid #fff;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.btns .plus{padding-left: 15px;position: relative}
.btns .plus:before,
.btns .plus:after{display: block;content: '';width: 10px;height: 2px;background-color: #fff;position: absolute;top:50%;left:0;
	-webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -sand-transform: translateY(-50%);
    transform:translateY(-50%);
}
.btns .plus:after{width: 2px;height:10px;left:4px;}
.btns .icn_reading{padding-left: 20px;background: url(../images/cont/icn_check.png) no-repeat 0 50% / 15px auto;line-height: 1.35;font-size: 12px}
.btns.bell{position: relative;width: 40px;height:36px;background: url(../images/cont/icn_bell.png) no-repeat 50% 50% / 23px 30px;z-index: 11}
.btns.bell .count{position:absolute;top:3px;right:3px;background-color: #f27824;font-size:11px;color:#fff;line-height: 17px;min-width: 17px;border-radius: 100%}

.btn_center{text-align: center;padding: 23px 0 50px;}
.btn_center .btns{margin: 0 2px}
.btn_center.pd_type1{padding: 40px 0}

.btn_row{padding-bottom: 13px;font-size: 0}
.btn_row:after{display: block;content: '';clear: both}
.btn_row .btns,
.btn_row .btn_shape{margin: 2px 0;}
.btn_row .btns + .btns{margin-left: 4px;}
.btn_row .btn_shape{margin-right: 4px;}

.title01{font-size: 16px;color: #111;text-align: center;font-weight: 700;margin-bottom: 20px;}
.title02{font-size: 14px;color: #111;font-weight: 700;}
.title03{font-size: 16px;color: #111;font-weight: 700;padding-left: 20px;position: relative;margin-bottom: 13px;}
.title03:before{display: block;content: '';width: 10px;height:10px;background-color: #0085db;position: absolute;top:50%;left:0;border-radius:100%;
	-webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -sand-transform: translateY(-50%);
    transform:translateY(-50%);
}
.title04{font-size: 16px;font-weight: 700;color: #111;margin-bottom: 20px;text-align: left}
.tit_add{display:block;padding-bottom: 10px}

.text01{font-size: 10px;color: #38353b;font-weight: 400;margin-left: 5px;}
.text02,
.incorrect_txt{font-size: 12px;color: #de3211;font-weight: 400;margin: 5px 0 1px;padding-left: 13px}
.incorrect_txt{display: none;}

.schedule_list > li{position:relative;z-index:1;margin-bottom: 10px;}
.schedule_list > li .box_in{background-color: #fff;clip-path: polygon(18px 0, 100% 0, 100% calc(100% - 18px), calc(100% - 18px) 100%, 0 100%, 0 18px);border-top-right-radius: 12px;border-bottom-left-radius: 12px;}
.schedule_list > li:last-child{margin-bottom: 0}
.schedule_list > li .tit_row{padding:15px 12px;border-bottom: 1px solid #e8e8e8}
.schedule_list > li .title{position:relative;padding-left: 12px;font-size: 15px;font-weight: 700;color: #111;text-align: left}
.schedule_list > li .title:before{display: block;content: '';width: 3px;height:3px;background-color: #111;position: absolute;top:9px;left:0;}
.schedule_list > li .tit_row.row_fluid{padding: 18px 12px 5px}
.schedule_list > li .tit_row.row_fluid .col:first-child{padding-bottom: 10px}
.schedule_list > li .tit_row .total_box{display: table;width: 100%;}
.schedule_list > li .tit_row .total_box .tit,
.schedule_list > li .tit_row .total_box .total_cont{display: table-cell;padding-left:12px;text-align: left;vertical-align: middle}
.schedule_list > li .tit_row .total_box .tit{font-size: 15px;font-weight: 700;color: #111;}
.schedule_list > li .tit_row .total_box .total_cont{font-size: 12px;color: #666;line-height: 1.4}
.schedule_list > li .cont_row{padding:8px 12px 24px;}
.schedule_list > li .cont_row .cell{text-align: center}
.schedule_list > li .cont_row .cell.logo_img{display: none;}
.schedule_list .delivery_info{display: table;width: 100%;table-layout: fixed;margin-bottom: 5px;}
.schedule_list .delivery_info .dv_row{display: table-row;}
.schedule_list .delivery_info .dv_col{display: table-cell;height:45px;text-align: center;vertical-align: middle;font-size: 11px;color: #666;position: relative}
.schedule_list .delivery_info .dv_row:last-child .dv_col:nth-child(1),
.schedule_list .delivery_info .dv_row:last-child .dv_col:nth-child(3){color: #333}
.schedule_list .delivery_info .dv_row:first-child .dv_col:nth-child(1):before,
.schedule_list .delivery_info .dv_row:first-child .dv_col:nth-child(3):before,
.schedule_list .delivery_info .dv_row:first-child .dv_col:after{display: block;content: '';position:absolute;bottom: -1px;}
.schedule_list .delivery_info .dv_row:first-child .dv_col:after{right:0;margin-top:-3px;width: 50%;height:2px;background-color: #27b8ce}
.schedule_list .delivery_info .dv_row:first-child .dv_col:nth-child(2):after{left:0;width: 100%}
.schedule_list .delivery_info .dv_row:first-child .dv_col:nth-child(3):after{left:0;}
.schedule_list .delivery_info .dv_row:first-child .dv_col:nth-child(1):before,
.schedule_list .delivery_info .dv_row:first-child .dv_col:nth-child(3):before{left:50%;
	-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -sand-transform: translateX(-50%);
    transform:translateX(-50%);
}
.schedule_list .delivery_info .dv_row:first-child .dv_col:nth-child(1):before{bottom:-5px;border-radius: 100%;width: 10px;height:10px;background-color: #27b8ce}
.schedule_list .delivery_info .dv_row:first-child .dv_col:nth-child(3):before{bottom:-6px;margin-left: 5px;border-top: 6px solid transparent;border-right: 10px solid transparent;border-bottom: 6px solid transparent;border-left: 10px solid #27b8ce;}
.schedule_list .icn{position: relative;color: #28b8ce;}
.schedule_list .icn:before{position:absolute;top:50%;left:0;display: block;content: '';background-position: 50% 50%;background-size: cover;background-repeat: no-repeat;
	-webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -sand-transform: translateY(-50%);
    transform:translateY(-50%);
}
.schedule_list .icn.time{padding-left: 14px}
.schedule_list .icn.time:before{width: 12px;height:12px;background-image: url(../images/cont/icn_clock.png);}
.schedule_list .icn.traffic{padding-left: 16px}
.schedule_list .icn.traffic:before{width: 14px;height:12px;background-image: url(../images/cont/icn_ship.png);}
.schedule_list .icn.type{padding-left: 14px}
.schedule_list .icn.type:before{width: 11px;height:11px;background-image: url(../images/cont/icn_type.png);}
.schedule_list .etc_info:after{display: block;content: '';clear: both}
.schedule_list .tbl_info th,
.schedule_list .tbl_info td{font-size: 12px;padding: 3px 0;}
.schedule_list .tbl_info th{width: 74px;text-align: center;font-weight: 400;vertical-align: top}
.schedule_list .tbl_info th > span{padding:4px 0;background-color: #eeeff0;border-radius: 50px;color: #333;display: block}
.schedule_list .tbl_info td{padding-left: 10px;color: #666;text-align: left}
/*.schedule_list .cell:last-child{padding-top: 16px}
.schedule_list .cell:last-child .btns{margin: 0 3px;}*/
.schedule_list:not(.mng) > li .cont_row .cell:last-child,
.schedule_list .cell.btns_area{padding-top: 16px}
/*
.schedule_list:not(.mng) > li .cont_row .cell:last-child .btns,
.schedule_list .cell.btns_area .btns{margin: 0 3px;}
*/
.schedule_list .cell.btns_area .btns{margin: 0 3px;}
.schedule_list .etc_info.show{display: block;}
.schedule_list .etc_info{text-align: left;background: #f7f7f7;padding: 5px 10px;margin: 10px 0 8px;display: none;}
.schedule_list .etc_info .item{margin-right: 10px;padding: 1px 0;font-size: 0;display: inline-block;vertical-align: middle}
.schedule_list .etc_info .item > em,
.schedule_list .etc_info .item > div{display: inline-block;float:left;font-size: 11px;text-align: left;vertical-align: middle;line-height: 1.8;}
.schedule_list .etc_info .item > em{font-weight: 700;color: #333;padding-right: 7px;}
.schedule_list .etc_info .item > div{color: #666;position: relative;}
.bar{display: inline-block;vertical-align:middle;width: 1px;height:11px;background-color: #ccc;font-size: 0;color: transparent;margin:0 5px;}
.schedule_list .etc_info .bar{margin:0 10px 0 0;}
.schedule_list .etc_info .item:last-child{margin-right: 0}
.schedule_list .etc_info .item:last-child > div{padding-right: 0}
.schedule_list .etc_info .item:last-child > div:after{display: none}
.schedule_list.shadow > li{filter: drop-shadow(-1px -1px 4px rgba(0,0,0,0.1));margin-bottom: 20px;}
.schedule_list.shadow > li:last-child{margin-bottom: 0}
.schedule_list.mng .etc_info{margin-bottom: 0}

.list_type01 > li{position:relative;z-index:1;margin-bottom: 10px;}
.list_type01 .no_row{position: relative;padding: 12px 12px;height:48px;font-size: 15px;color: #666;display: table;width: 100%;border-bottom: 1px solid #e8e8e8;box-sizing: border-box}
.list_type01 .no_row .item{display: table-row}
.list_type01 .no_row .item .tit,
.list_type01 .no_row .item .no{display: table-cell;padding: 2px 0}
.list_type01 .no_row .item .tit{position:relative; width: 1px;white-space: nowrap;text-align: right;padding:0 10px 0 8px;color: #111;font-weight: 700}
.list_type01 .no_row .item:first-child .tit:before{display: block;content: '';position:absolute;top:10px;left:1px;width: 3px;height:3px;background-color: #111}
.list_type01 > li .box_in{position:relative;background-color: #fff;border-radius: 12px;border-top-right-radius: 0;
    clip-path: polygon(calc(100% - 18px) 0, 100% 18px, 100% 100%, 0 100%, 0 0);
}
.list_type01 > li .box_in:after{position:absolute;top:-4px;right:-8px;display: block;content: '';width:33px;height:33px;background: url(../images/cont/corner_in.png) no-repeat 0 0 / cover;}
.list_type01 > li .cont_row .cell{text-align: center}
.list_type01 > li .cont_row .cell.state{display: none;}
.list_type01 > li .cont_row .cell.cont_area{padding: 23px 20px}
.list_type01 .cell.btns_area {padding: 23px 20px;border-top: 1px dashed #e8e8e8}
.list_type01 .cell.btns_area .btns{width: 100%}
.list_type01 .cell.btns_area .btns + .btns{margin-top: 10px}
.list_type01 .info_list > li{display: table;width: 100%;margin-bottom: 7px;}
.list_type01 .info_list > li:last-child{margin-bottom: 0}
.list_type01 .info_list > li .hd,
.list_type01 .info_list > li .val{display: table-cell;vertical-align: top}
.list_type01 .info_list > li .hd{width: 1px;}
.list_type01 .info_list > li .hd > span{display:block;min-width: 90px;padding:4px 0;background-color: #eeeff0;font-size: 12px;color: #333;text-align: center;border-radius: 50px}
.list_type01 .info_list > li .val{text-align: left;padding-left: 10px;font-size: 12px;padding-top: 4px;color: #666}
.list_type01 .info_list:after,
.list_type01 .info_list .val:after{display: block;content: '';clear: both}
.list_type01 .info_list{overflow: hidden}
.list_type01 .info_list .hd{float: left;clear: both;margin-bottom: 7px;}
.list_type01 .info_list:last-of-type .hd:last-of-type{margin-bottom: 0}
.list_type01 .info_list .hd > span{display:block;width: 90px;padding:4px 0;background-color: #eeeff0;font-size: 12px;color: #333;text-align: center;border-radius: 50px}
.list_type01 .info_list .val{margin-left: 100px;text-align: left;font-size: 12px;padding-top: 4px;color: #666}
.list_type01.bill > li .box_in{border-radius: 0;clip-path:none;padding: 36px 0;/*padding: 10.6% 0;*/}
.list_type01.bill > li .box_in:after{display: none;}
.list_type01.bill .no_row{border-top: 1px dashed #e8e8e8;}
.list_type01.bill .cont_row{border-bottom: 1px dashed #e8e8e8;}
.list_type01.bill > li:before,
.list_type01.bill > li:after{display: block;content: '';width: 90%;height: 36px;position: absolute;top:1px;left:50%;background: url(../images/cont/bill_bg.png) repeat-x 0 50% / auto 17px;
	-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -sand-transform: translateX(-50%);
    transform:translateX(-50%);
    z-index: 1
}
.list_type01.bill > li:after{top: auto;bottom: 0;}

.calendar_top{text-align: center;font-size: 0;padding-bottom: 20px;}
.calendar_top .box{display: inline-block;padding: 6px 0;background-color: #fff;border: 1px solid #e8e8e8;border-radius: 50px;}
.calendar_top .date{font-size: 20px;color: #111;font-weight: 900;vertical-align: middle}

.calendar_wrap{position: relative;padding-bottom: 33px;}
.monthly_calendar{border: 1px solid #ddd;border-radius: 6px;overflow: hidden}
.tbl_calendar{width: 100%;table-layout: fixed}
.tbl_calendar thead th,
.tbl_calendar > tbody > tr > td{font-size: 11px;}
.tbl_calendar thead th{height:42px;background-color: #f2f2f2;text-align: center;border-bottom: 1px solid #ddd}
.tbl_calendar > tbody > tr > td{position:relative;padding:5px;height:76px;background-color: #fff;color: #333;text-align: left;vertical-align: top;border: 1px solid #e8e8e8;box-sizing: border-box}
.tbl_calendar > tbody > tr > td:first-child{border-left: 0}
.tbl_calendar > tbody > tr > td:last-child{border-right: 0}
.tbl_calendar > tbody tr:last-of-type td{border-bottom: 0}
.tbl_calendar > tbody > tr > td .date_num{display: block;margin-bottom: 5px;}
.tbl_calendar > tbody > tr > td.disable .date_num{opacity: 0.3}
.tbl_calendar > tbody > tr > td > a{display: block;font-size: 13px;color: #333}
.tbl_calendar .sun{color: #ed330e;}
.tbl_calendar .sat{color: #0085db;}
.tbl_calendar > tbody > tr > td.on,
.tbl_calendar > tbody > tr > td:hover{background-color: #f2f2f2}
.tbl_calendar > tbody > tr > td.on:after{position:absolute;bottom:0;left:50%;display:block;content:'';bottom:-2px;border-top: 10px solid transparent;border-right: 8px solid transparent;border-left: 8px solid transparent;border-bottom: 10px solid #f27824;
		-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -sand-transform: translateX(-50%);
    transform:translateX(-50%);
}
.tbl_calendar > tbody > tr > td.has_list{padding: 0;border: 0}

.calendar_layer{position:relative;width: 100%;padding:10px 8px;top:0;left:0;box-sizing: border-box;border: 2px solid #f27824;background-color: #f6f6f6;z-index: 100}
.calendar_layer .close.type2{position:absolute;top:-26px;right:-2px;}
/*������ �߰�*/
.sched_wrap{display:none;position: fixed;bottom: 20px;right: 50px;z-index: 1001;} 
.sched_wrap button{width: 30px;} 
.top{display:none;width: 32px;height:32px;background: #1f87b6 url(../images/icn_arrow4.png) no-repeat 50% 50%;position: absolute;top:50%;right:0;margin-top: -16px;} 

#start_date,
#end_date{position: relative}
.xdsoft_datetimepicker {position: absolute;z-index: 100;display: none;}
.xdsoft_noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.xdsoft_noselect::selection { background: transparent }
.xdsoft_noselect::-moz-selection { background: transparent }
.xdsoft_datetimepicker.xdsoft_inline{display: inline-block;}
.xdsoft_datetimepicker .xdsoft_datepicker, .xdsoft_datetimepicker .xdsoft_timepicker {display: none;}
.xdsoft_datetimepicker .xdsoft_datepicker.active, .xdsoft_datetimepicker .xdsoft_timepicker.active {display: block;}
.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select{max-height: 275px;display:none;position: absolute;left:-1px;width: 100%;border: 1px solid #e8e8e8;border-top: 0;background-color: #fff;z-index: 1;overflow-y: hidden;}
.xdsoft_scrollbar >.xdsoft_scroller {background: #b7b7b7 !important;height: 20px;}
.xdsoft_scrollbar {position: absolute;width: 2px;right: 2px;top: 3px;bottom: 0;cursor: pointer;}
.xdsoft_datetimepicker.xdsoft_rtl .xdsoft_scrollbar {left: 0;right: auto;}
.xdsoft_scroller_box {position: relative;}
.xdsoft_datetimepicker{background-color: #fff;border: 1px solid #cecece;position: absolute;top:0;left:0;width: 298px;}
.xdsoft_monthpicker{padding:30px 0 22px;text-align: center;}
.xdsoft_month{margin-left: 4px;}
.xdsoft_calendar{padding:0 25px 25px;}
.xdsoft_datetimepicker .xdsoft_today_button{visibility:hidden !important;display: none !important}
.xdsoft_datetimepicker .xdsoft_prev,
.xdsoft_datetimepicker .xdsoft_next,
.xdsoft_datetimepicker .xdsoft_label i,
.xdsoft_datetimepicker .cal_close{background: url(/Images/conf/sp_cal.png) no-repeat 0 0 / auto 2.188rem;}
.xdsoft_datetimepicker .xdsoft_prev,
.xdsoft_datetimepicker .xdsoft_next{width: 35px;height:35px;vertical-align: middle;display: inline-block}
.xdsoft_datetimepicker .xdsoft_next{background-position: -35px 0;margin-left: 10px;}
.xdsoft_datetimepicker .xdsoft_prev{margin-right: 10px;}
.xdsoft_datetimepicker .xdsoft_label{display: inline-block;border: 1px solid #e8e8e8;border-bottom:0;position: relative;vertical-align: middle;padding: 0;float: none;width: auto}
.xdsoft_datetimepicker .xdsoft_label > span{display:inline-block;line-height:33px;padding:0 30px 0 15px;font-size: 14px;color: #000;font-weight:400;position: relative;border-bottom: 1px solid #e8e8e8;vertical-align: top;cursor: pointer}
.xdsoft_datetimepicker .xdsoft_label i{display: block;content: '';width: 8px;height:100%;position: absolute;top:0;right:10px;background-position: -7.4rem 0;}
.xdsoft_datetimepicker .xdsoft_label i.on{background-position: -9.6rem 0}
.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option{font-size: 14px;color: #000;text-align: left;width: 100%;text-align: left;padding: 8px 0 8px 15px;box-sizing: border-box;font-weight: 400;cursor: pointer}
.xdsoft_datetimepicker .xdsoft_calendar table{width: 100%;table-layout: fixed}
.xdsoft_datetimepicker .xdsoft_calendar th{color: #6e6e6e;font-weight: 400;border-bottom: 1px solid #ececec;padding-bottom: 13px;}
.xdsoft_datetimepicker .xdsoft_calendar th,
.xdsoft_datetimepicker .xdsoft_calendar td{text-align: center;font-size: 13px;}
.xdsoft_datetimepicker .xdsoft_calendar td{color: #000;font-weight: 700;height: 40px;vertical-align: middle}
.xdsoft_datetimepicker .xdsoft_calendar th:first-of-type{color: #e65757}
.xdsoft_datetimepicker .xdsoft_calendar th:last-of-type{color: #6e82cf}
.xdsoft_datetimepicker .xdsoft_calendar td > div{display: inline-block;width: 32px;line-height:32px;border-radius: 5px;cursor: pointer;transition: all 0.1s}
.xdsoft_datetimepicker .xdsoft_calendar td:hover > div,
.xdsoft_calendar td.xdsoft_current > div{background-color: #ec6126;text-align: center;color: #fff;}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_other_month > div, 
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_disabled > div{opacity: .3;-ms-filter: "alpha(opacity=30)";cursor: default;}
.xdsoft_datetimepicker .cal_close{position:absolute;top:5px;right:5px;width: 30px;height:30px;background-position: -4.5rem 50%;}


.contents{padding:23px 0 50px}
.contents.pd_type1{padding-top: 20px}
.search_zone{padding:20px;margin-bottom: 50px;background-color: #fff;}
.search_zone.inline_box{padding: 0;margin-bottom: 0;display: inline-block;vertical-align: middle}
.search_zone.inline_box .inner .col{padding: 0}
.search_zone.inline_box .int_box{padding-left: 5px}

.cmt_row{padding:20px 0 10px;text-align: right;font-size: 11px;color: #aaa;font-weight: 350}
.required{color: #de3211;font-weight: 500}
.write_form{background-color: #fff;padding: 20px;border: 1px solid #e5e5e5;margin-bottom: 30px;}
.write_form > .row > .cell.tit{font-size: 11px;font-weight: 500;color: #111;margin-bottom: 6px;}
.write_form > .row > .cell:not(.tit){margin-bottom: 16px;font-size: 13px;color: #666}
.write_form > .row:last-child > .cell:last-child{margin-bottom: 0}
.write_form  .select,
.write_form .int{margin-bottom: 0}
.write_form .int.w1{width: 70px;text-align: center}
.write_form .int + .check,
.write_form .int + .int,
.write_form .check + .check,
.write_form .btn_shape + .btn_shape,
.write_form .int + .btn_shape{margin-left: 2px;}
/*������ �߰�*/
.register_form{background-color: #fff;padding: 20px;border: 1px solid #e5e5e5;margin-bottom: 30px;}
.register_form > .row > .cell.tit{font-size: 11px;font-weight: 500;color: #111;margin-bottom: 6px;}
.register_form > .row > .cell:not(.tit){margin-bottom: 16px;font-size: 13px;color: #666}
.register_form > .row:last-child > .cell:last-child{margin-bottom: 0}
.register_form  .select,
.register_form .int{margin-bottom: 0}
.register_form .int.w1{width: 70px;text-align: center}
.register_form .int + .check,
.register_form .int + .int,
.register_form .check + .check,
.register_form .btn_shape + .btn_shape,
.register_form .int + .btn_shape{margin-left: 2px;}

.error{font-size: 12px;color: #de3211;margin-bottom: 10px;}

.find_info{padding: 12px 5px;background-color: #f7f7f7;border-radius: 4px;text-align: center;font-size: 13px;color: #111;margin-bottom: 20px}
.find_info > em{color: #ec6126;font-weight: 500}

.no_data{background-color: #fff;text-align: center;font-size: 14px;color: #333;padding: 28px 0;}

.tbl_type02.wide{display: table;width: 100%;box-sizing: border-box;}
.tbl_type02.wide .head_row{display: table-header-group}
.tbl_type02.wide .body_row{display: table-row}

.btn_toggle{display: none;}

.terms_area{font-size: 12px;line-height: 1.58;font-weight: 400;background-color: #fff;padding: 15px;margin-bottom: 30px}
.terms_area h3{font-size: 14px;margin-bottom: 6px;font-weight: 700}
.terms_area > p,
.terms_area .grp{margin-bottom: 15px;}
.terms_area .grp > p,
.terms_area .grp > ol,
.terms_area .grp > .info{margin-bottom: 5px;}
.list01 > li{margin-bottom: 10px}
.list01 .tit{font-weight: 500;display: block;margin-bottom: 4px}
.list02 > li{padding-left: 1.2em;text-indent: -1.2em;}
.list02 > li ol,
.list02 > li ul{font-size: 11px;margin: 2px 0}
.list02 > li .info{margin: 5px 0;}
.list02 > li ol > li,
.list02 > li ul > li,
.terms_area .grp .info{text-indent: 0}
.list04 > li{padding-left: 0.5em;text-indent: -0.5em;}
.cr_blue{color: #334d99;}

.layer_zone{display:none;position:fixed;top:0;left:0;right: 0;bottom: 0;width:100%;height:100%;background:rgba(0,0,0,.7); z-index:10000;overflow-y: auto;-webkit-overflow-scrolling: touch;}
.layer_wrap{display:table;width:92%;max-width:600px;height:100%;/*position:absolute;*/top:0;left:50%;margin-left:50%;box-sizing:border-box;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -sand-transform: translateX(-50%);
    transform: translateX(-50%);
}
.layer_inwrap {display:table-cell;vertical-align:middle;}
.layer_cont{background:#fff;box-sizing:border-box;position:relative;
	-webkit-box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.3);
}
.layer_wrap .layer_cont img{max-width: 100%;vertical-align: top;}
.layer_wrap .close{width: 40px;height:40px;position: absolute;top:0;right:0;background: none}
.layer_wrap .close:before, 
.layer_wrap .close:after{border-left-width: 2px;top: 10px;left: 19px;}
.layer_wrap .layer_tit{background-color: #f27824;padding: 11px 21px 12px;min-height:41px;color: #fffefe;box-sizing: border-box}
.layer_wrap .layer_tit .tit{font-size: 12px;font-weight: 700;}
.bl_output{padding: 20px 0}
/*������ ����
.bl_output .col_left{padding: 0 20px 50px;}
*/
.bl_output .col_left{padding: 0 20px 50px;}
.bl_output .output_area{background-color: #fafafa;height: 505px;overflow-x: auto}
.alert_type .btn_w .btns.radius,
.bl_output .btns.radius{min-width: 82px;padding: 6px 12px;font-size: 11px;}
.bl_output .col_left .btn_area{padding-bottom: 13px}
.bl_output .col_left .btn_area .btns + .btns{margin-left: 5px}
.bl_output .col_right .tit_row{position: relative;padding: 10px 20px 20px}
.bl_output .col_right .tit_row .btns{position: absolute;top: 5px;right:20px;}
.bl_output .col_right .tit_row .tit{font-size: 13px;font-weight: 700;color: #111}
.bl_output .col_right .edit_list{border:1px solid #ddd;padding: 0 20px;font-size: 12px;color: #666;font-weight: 350}
.bl_output .col_right .edit_list .item{border-bottom: 1px dashed #e4e4e4;padding:20px 0 10px}
.bl_output .col_right .edit_list .item:last-child{border-bottom: 0}
.bl_output .col_right .edit_list .tit{font-weight: 500;color: #111;font-size: 12px;}
.bl_output .col_right .edit_list input{width: 100%;height: 28px}

.alert_cont{display: table;width: 100%;padding: 0 20px;box-sizing: border-box}
.alert_cont .inner{display: table-cell;padding: 10px;height:100px;box-sizing: border-box;border-bottom: 1px dashed #e4e4e4;font-size: 13px;color: #111;font-weight: 500;text-align: center;vertical-align: middle}
.alert_type{z-index:10001;}
.alert_type .btn_w{text-align: center;padding: 22px 0}
.alert_type .btn_w .btns.radius{margin: 0 2px}

.notice_msg{display:none;position: absolute;top:65px;left:50%;width: 96%;background-color: #fff;z-index: 10;max-width: 740px;border:1px solid #e1e1e1;box-sizing: border-box;
	-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -sand-transform: translateX(-50%);
    transform: translateX(-50%);
}
.notice_msg .msg_inner{padding: 18px 15px}
.notice_msg .top_row:after{display: block;content: '';clear: both}
.notice_msg .top_row .chk_zone{float: left;}
.notice_msg .top_row .search_zone{float: none;padding-top: 1px;display: block}
.notice_msg .bt_row{text-align: right;padding: 15px 0 12px;}
.toast_wrap .close,
.notice_msg .close{width: 35px;height:35px;position: absolute;top: 12px;right: 10px;background: none}
.toast_wrap .close:before, 
.toast_wrap .close:after,
.notice_msg .close:before, 
.notice_msg .close:after{border-left-width: 2px;border-color: #231f20;top: 7px;left: 17px;height: 18px;border-radius: 2px}
.notice_msg .top_row .chk_zone,
.notice_msg .search_zone .int_box{margin-bottom: 8px}
.notice_msg .reading{width: 19px;}

.btns.bell.active:after, 
.btns.bell.active:before{bottom: -18px;left: 50%;border: solid transparent;content: '';height: 0;width: 0;position: absolute;pointer-events: none;}
.btns.bell.active:after{border-color: rgba(255, 255, 255, 0);border-bottom-color: #fff;border-width: 9px;margin-left: -9px;}
.btns.bell.active:before{
	border-color: rgba(225, 225, 225, 0);
	border-bottom-color: #e1e1e1;
	border-width: 10px;
	margin-left: -10px;
}

.tbl_type03{width: 100%;border-top: 1px solid #ddd;border-left: 0;box-sizing: border-box;background-color: #fff}
.tbl_type03 thead th{height:40px;color: #111;text-align: center;font-weight: 500;background-color: #f8f8f8;}
.tbl_type03 thead th,
.tbl_type03 tbody td{font-size: 12px;padding:0 6px;border-bottom: 1px solid #f1f1f1;text-align: center}
.tbl_type03 tbody td{font-size: 11px;height:61px;color: #666;font-weight: 300;line-height: 1.5}
.tbl_type03 tbody td.left{text-align: left}

.toast_wrap{position: fixed;top:65px;left:50%;z-index: 900;/*pointer-events: none;*/text-align: left;width:100%;max-width: 1306px;
	-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -sand-transform: translateX(-50%);
    transform: translateX(-50%);
}
.toast_wrap .toast_inner{position: absolute;top:0;right:0;max-height: 370px;max-height: 90vh;}
.toast_wrap .toast_box {position: relative;width:96%;padding: 10px 16px 14px;margin: 0 auto 6px;color: #666;font-weight: 300;border-radius: 8px;font-size:14px;background: #fff;line-height:1.6;border:1px solid #ddd;pointer-events: auto;overflow: hidden;box-sizing:border-box;}
.toast_wrap .btn_go{margin-top: 6px;}
.toast_wrap .toast_box:hover{border: 2px solid #f27824;padding: 9px 15px 13px;}
.toast_wrap .toast_box:hover .btn_go{background-color: #f27824;color: #fff;}
.toast_wrap .toast_box:hover .btn_go > span:after{background-image: url(../images/cont/icn_bull6.png)}
.toast_wrap .close{top: 5px;right: 4px;}
.toast_wrap .toast_box:hover .close{top: 4px;right: 3px;}

.btn_go{text-align: center;display: inline-block;padding:2px 8px 3px;font-size: 12px;color: #333;background-color: #eeeff0;border-radius: 20px;}
.btn_go > span{display: inline-block;position: relative;padding-right: 10px;}
.btn_go > span:after{width: 4px;height:7px;display: block;content: '';background: url(../images/cont/icn_bull5.png) no-repeat 0 0 / 4px 7px;position: absolute;top:50%;right:0;
	-webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -sand-transform: translateY(-50%);
    transform:translateY(-50%);
}


.loading{position: fixed;width: 100%;height: 100%;z-index: 9000;top: 0;left:0;background: rgba(0,0,0,.7);}
.ispinner {width: 52px;height: 52px;position: absolute;top: 50%;left: 50%;margin: -26px 0 0 -26px}
.ispinner .ispinner-blade {position: absolute;top: 37%;left: 44.5%;width: 10%;height: 25%;background-color: #fff;border-radius: 50%/20%;
    -webkit-animation: iSpinnerBlade 1s linear infinite;
            animation: iSpinnerBlade 1s linear infinite;
    will-change: opacity; 
}
.ispinner .ispinner-blade:nth-child(1) {
  -webkit-transform: rotate(30deg) translate(0, -150%);
          transform: rotate(30deg) translate(0, -150%);
  -webkit-animation-delay: -1.6666666667s;
          animation-delay: -1.6666666667s; }
.ispinner .ispinner-blade:nth-child(2) {
  -webkit-transform: rotate(60deg) translate(0, -150%);
          transform: rotate(60deg) translate(0, -150%);
  -webkit-animation-delay: -1.5833333333s;
          animation-delay: -1.5833333333s; }
.ispinner .ispinner-blade:nth-child(3) {
  -webkit-transform: rotate(90deg) translate(0, -150%);
          transform: rotate(90deg) translate(0, -150%);
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s; }
.ispinner .ispinner-blade:nth-child(4) {
  -webkit-transform: rotate(120deg) translate(0, -150%);
          transform: rotate(120deg) translate(0, -150%);
  -webkit-animation-delay: -1.4166666667s;
          animation-delay: -1.4166666667s; }
.ispinner .ispinner-blade:nth-child(5) {
  -webkit-transform: rotate(150deg) translate(0, -150%);
          transform: rotate(150deg) translate(0, -150%);
  -webkit-animation-delay: -1.3333333333s;
          animation-delay: -1.3333333333s; }
.ispinner .ispinner-blade:nth-child(6) {
  -webkit-transform: rotate(180deg) translate(0, -150%);
          transform: rotate(180deg) translate(0, -150%);
  -webkit-animation-delay: -1.25s;
          animation-delay: -1.25s; }
.ispinner .ispinner-blade:nth-child(7) {
  -webkit-transform: rotate(210deg) translate(0, -150%);
          transform: rotate(210deg) translate(0, -150%);
  -webkit-animation-delay: -1.1666666667s;
          animation-delay: -1.1666666667s; }
.ispinner .ispinner-blade:nth-child(8) {
  -webkit-transform: rotate(240deg) translate(0, -150%);
          transform: rotate(240deg) translate(0, -150%);
  -webkit-animation-delay: -1.0833333333s;
          animation-delay: -1.0833333333s; }
.ispinner .ispinner-blade:nth-child(9) {
  -webkit-transform: rotate(270deg) translate(0, -150%);
          transform: rotate(270deg) translate(0, -150%);
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.ispinner .ispinner-blade:nth-child(10) {
  -webkit-transform: rotate(300deg) translate(0, -150%);
          transform: rotate(300deg) translate(0, -150%);
  -webkit-animation-delay: -0.9166666667s;
          animation-delay: -0.9166666667s; }
.ispinner .ispinner-blade:nth-child(11) {
  -webkit-transform: rotate(330deg) translate(0, -150%);
          transform: rotate(330deg) translate(0, -150%);
  -webkit-animation-delay: -0.8333333333s;
          animation-delay: -0.8333333333s; }
.ispinner .ispinner-blade:nth-child(12) {
  -webkit-transform: rotate(360deg) translate(0, -150%);
          transform: rotate(360deg) translate(0, -150%);
  -webkit-animation-delay: -0.75s;
          animation-delay: -0.75s; }
.ispinner.ispinner-large {width: 50px;height: 50px; }
.ispinner.ispinner-large .ispinner-blade {
  	width: 5.5714285714%;
  	height: 25.7142857143%;
	border-radius: 50%/16.67%; 
}

@-webkit-keyframes iSpinnerBlade {
  0% {opacity: 0.9;}
  50% {opacity: 0.25;}
  100% {opacity: 0.25;} 
}

@keyframes iSpinnerBlade {
  0% {opacity: 0.9;}
  50% {opacity: 0.25;}
  100% {opacity: 0.25;} 
}

/* [Kasi] TWKIM - 20201028 ELVIS 고객사 정보 */
.CustomerInfo_form {background-color: #fff;padding: 20px;border: 1px solid #e5e5e5;margin-bottom: 30px;/*overflow: hidden;*/position:relative;}
.CustomerInfo_form .row {width:100%;overflow:hidden;}
.CustomerInfo_form .row .cell_area {width:100%;overflow: hidden;margin-bottom: 5px;}
.CustomerInfo_form .row .cell_area .cell_tit{float:left;width:100%;font-size: 11px;font-weight: 500;color: #111;margin-bottom: 6px;padding-left: 5px;}
.CustomerInfo_form .row .cell_area .cell_td{float:left;width:100%;margin-bottom:10px;}
.CustomerInfo_form .row .cell_area .cell_td:after {clear:both}
/*.CustomerInfo_form .row .cell_area .cell_td span {display:none;color: #f44336;font-size: 9pt;font-weight: 400;padding: 0 10px;}*/
.CustomerInfo_form .row .cell_area:last-child {margin-bottom:0;}

.CustomerInfo_form .row .cell_area .email_area {}
.CustomerInfo_form .row .cell_area .email_area input {width:44%}
.CustomerInfo_form .row .cell_area .email_area select {width:30%}
.CustomerInfo_form .row .cell_area .email_area span {font-size:0.650rem}

.CustomerInfo_form .row .cell_area .Input_Elvis_CRN{width: 70%;margin-right: 3%;margin-bottom: 0;}
.CustomerInfo_form .row .cell_area .label_check_crn {display: inline-block;width: 25%;border-color: #fff;color: #1868ad;background-color: #fff;border: 1px solid #1868ad;font-size: 0.750em;border-radius: 4px;font-weight: 400;cursor: pointer;height: 34px;text-align:center;line-height:34px;}
.CustomerInfo_form .row .cell_area .label_check_crn:hover {border-color: #1868ad;color: #fff;background-color: #1868ad;}

.CustomerInfo_form .row2 {width:100%;overflow:hidden;}
.CustomerInfo_form .row2 .cell_area {width:100%;overflow: hidden;margin-bottom: 5px;}
.CustomerInfo_form .row2 .cell_area .cell_tit{width:100%;font-size: 11px;font-weight: 500;color: #111;margin-bottom: 6px;padding-left: 5px;}
.CustomerInfo_form .row2 .cell_area .cell_td{width:100%;margin-bottom:5px;}
.CustomerInfo_form .row2 .cell_area .Elvis_OFFICE_ADDR{width: 70%;margin-right: 3%;margin-bottom: 0;}
.CustomerInfo_form .row2 .cell_area .find_office_addr {display: inline-block;width: 25%;border-color: #fff;color: #1868ad;background-color: #fff;border: 1px solid #1868ad;font-size: 0.750em;border-radius: 4px;font-weight: 400;cursor: pointer;height: 34px;text-align:center;line-height:34px;}
.CustomerInfo_form .row2 .cell_area .find_office_addr:hover {border-color: #1868ad;color: #fff;background-color: #1868ad;}

.CustomerInfo_form .row .cell_area .email_area #Elvis_Email_Select {background:#fff url(/Images/conf/sel_arr.png) 100% 50% no-repeat;}
.CustomerInfo_form .row .cell_area .cell_td .Elvis_REG_DATE {background:#fff url(/Images/icn_calendar.png) 98% 50% no-repeat; background-size: 20px;}  
.CustomerInfo_form .row .cell_area .cell_td .Elvis_STAT_DATE {background:#fff url(/Images/icn_calendar.png) 98% 50% no-repeat; background-size: 20px;}

/*.CustomerInfo_form .row2 {width:100%;overflow:hidden;}
.CustomerInfo_form .row2 .cell_area {width:100%;overflow: hidden;margin-bottom: 5px;}
.CustomerInfo_form .row2 .cell_area .cell_tit{float:left;width:100%;font-size: 11px;font-weight: 500;color: #111;margin-bottom: 6px;padding-left: 5px;}
.CustomerInfo_form .row2 .cell_area .cell_td{float:left;width:100%;margin-bottom:5px;}
.CustomerInfo_form .row2 .cell_area .cell_td:after {clear:both}*/

/* [Kasi] TWKIM - 20201028 ELVIS 신청 내용 */
.CustomerReg_Area {/*padding:20px;*/margin-bottom:20px;background-color: #fff;}
.CustomerReg_table {width:100%;border:1px solid #d2d2d2;background: #fff;}
.CustomerReg_table th {/*width:95px;*/background-color: #f5f5f5;text-align: center;color: #111;font-weight: 500;border: 1px solid #d2d2d2;font-size: 0.875em;height: 43px;border-top: 0}
/*.CustomerReg_table td {color: #666;font-weight: 300;text-align: center;padding: 0 2px 0 2px;border: 1px solid #d2d2d2;font-size: 0.688em;height: 43px;border-top: 0}*/
.CustomerReg_table td {
    color: #666;
    font-weight: 300;
    text-align: left;
    padding: 0 2px 0 2px;
    border-top: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    font-size: 0.688em;
    height: 43px;        
}
.text_align_center {
    text-align: center !important;
}


/* [Kasi] TWKIM - 20201028 ELVIS 파일 양식 업로드 화면 */
.Elvis_File_Area {background-color: #fff;padding: 20px;border: 1px solid #e5e5e5;overflow: hidden;}
.Elvis_File_Area .row {width:100%;overflow:hidden;}
.Elvis_File_Area .row {width:100%;overflow: hidden;margin-bottom: 5px;}
.Elvis_File_Area .row .cell_tit_left {float:left;width:100%;font-size: 13pt;font-weight: 500;color: #111;margin-bottom: 6px;padding-left: 5px;text-align:left}
.Elvis_File_Area .row .cell_tit_center {float:left;width:100%;font-size: 13pt;font-weight: 500;color: #111;margin-bottom: 6px;padding-left: 5px;text-align:center}
.Elvis_File_Area .row .cell_tit_right {float:left;width:100%;font-size: 13pt;font-weight: 500;color: #111;margin-bottom: 6px;padding-left: 5px;text-align:right}

.Elvis_File_Area .row .cell_area .cell_tit {font-size:12px;margin:12px 0;}

.Elvis_File_Area .row .cell_area .cell_td {display:table;width:100%;}
.Elvis_File_Area .row .cell_area .cell_td .cell_button_area1 {width:30%;display:table-cell;vertical-align:middle;text-align:center;}
.Elvis_File_Area .row .cell_area .cell_td .cell_button_area1 label {display:inline-block;width: auto%;border-color: #fff;color: #1868ad;background-color: #fff;border:1px solid #1868ad;font-weight: 400;font-size: 0.750em;border-radius: 4px;font-weight: 400;padding:10px;margin-right:10px;cursor:pointer}
.Elvis_File_Area .row .cell_area .cell_td .cell_button_area1 label:hover {border-color: #1868ad;color: #fff;background-color: #1868ad;}

.Elvis_File_Area .row .cell_area .cell_td .cell_button_area2 {width:15%;display:table-cell;vertical-align:middle;text-align:center;}
.Elvis_File_Area .row .cell_area .cell_td .cell_button_area2 label {display:inline-block;width: auto;border-color: #fff;color: #1868ad;background-color: #fff;border:1px solid #1868ad;font-weight: 400;font-size: 0.750em;border-radius: 4px;font-weight: 400;padding:10px;margin-right:10px;cursor:pointer}
.Elvis_File_Area .row .cell_area .cell_td .cell_button_area2 label:hover {border-color: #1868ad;color: #fff;background-color: #1868ad;}

.Elvis_File_Area .row .cell_area .cell_td .cell_button_area2 a {display:inline-block;width: auto;border-color: #fff;color: #1868ad;background-color: #fff;border:1px solid #1868ad;font-weight: 400;font-size: 0.750em;border-radius: 4px;font-weight: 400;padding:10px;margin-right:10px;cursor:pointer}
.Elvis_File_Area .row .cell_area .cell_td .cell_button_area2 a:hover {border-color: #1868ad;color: #fff;background-color: #1868ad;}

.Elvis_File_Area .row .cell_area .cell_td .cell_button_area2 .btn_downloadForm {border-color: #fff;color: #ec6126;background-color: #fff;border:1px solid #ec6126;}
.Elvis_File_Area .row .cell_area .cell_td .cell_button_area2 .btn_downloadForm:hover {border-color: #ec6126;color: #fff;background-color: #ec6126;}
.Elvis_File_Area .row .cell_area .cell_td input {display:table-cell;vertical-align:middle;width:100%;margin-bottom:0}

.Elvis_Manuals_Area {text-align:right;margin-top:5px;}
.Elvis_Manuals_Area .Elvis_Manual {position:relative;padding-left:30px;cursor:pointer;color: #0098d7;text-decoration: underline;font-size: 0.750rem;}
.Elvis_Manuals_Area .Elvis_Manual:hover{color:#000}
.Elvis_Manuals_Area .Elvis_Clip_Icon {width: 17px;position:absolute;top: 2px;left: 10px;}

.input_readonly {cursor: default;}

/* TWKIM - 주소 찾기 팝업 */
.Elvis_Juso_Area {margin-bottom:5px;}
.Elvis_Juso_Area .Elvis_Juso_input {width:70%;margin-bottom:0;margin-right:10px}
.Elvis_Juso_Area .Elvis_Juso_Search {padding: 10px 10px;border-radius: 4px;font-size: 0.5625rem;font-weight: 700;color: #f27824;background-color: #fff;border: 1px solid #f27824;cursor:pointer}

.Elvis_Juso_Example {}
.Elvis_Juso_Example span {font-size: 0.6875rem;color:#186bb9}

.Elvis_JusoList_TotalArea {margin-top:10px;padding:5px 0;}
.Elvis_JusoList_TotalArea span {font-size: 0.6875rem;}

/*.Elvis_JusoList_Area {max-height: 300px;overflow: auto;}*/
.Elvis_JusoList {width:100%;font-size: 0.6875rem;}
.Elvis_JusoList tr {height:30px;}
.Elvis_JusoList tr th{border-top:1px solid #333;border-bottom:1px solid #333;padding:5px 0}
.Elvis_JusoList tr td{border-bottom: 1px solid #ddd;padding:10px 0;}
.Elvis_JusoList tr td strong {word-break:break-word}
.Elvis_JusoList tr td p {word-break:break-word}
.Elvis_JusoList tr td:nth-child(2) {cursor:pointer} 
.Elvis_JusoList tr td:nth-child(3) {cursor:pointer} 

.Elvis_JusoList_DataList{}

.Elvis_JusoList_Paging{padding:10px 0;margin:10px 0;text-align:center;font-size:0.75rem} 
.Elvis_JusoList_Paging span {padding: 3px 5px 3px 5px;cursor:pointer;margin-right:3px;}
.Elvis_JusoList_Paging span:hover {background-color:#186bb9;color:#fff}
.Elvis_JusoList_Paging .active {background-color:#186bb9;color:#fff}

.Elvis_JusoDetail_Area {}
.Elvis_JusoDetail_title {padding: 10px 0;}
.Elvis_JusoDetail_title strong {font-size:0.6875rem;}
.Elvis_JusoDetail_table {width:100%;}

.Elvis_JusoDetail_table tr:nth-child(1) {border-top:1px solid #d2d2d2;border-bottom:1px solid #f2f2f2;}
.Elvis_JusoDetail_table tr:nth-child(2) {border-top:1px solid #f2f2f2;border-bottom:1px solid #d2d2d2;}
.Elvis_JusoDetail_table tr {height: 60px;}
.Elvis_JusoDetail_table tr th {padding:10px 0;background-color:#f2f2f2;font-size:0.6875rem;}
.Elvis_JusoDetail_table tr td {padding:10px 0;font-size:0.6875rem;}
.Elvis_JusoDetail_table tr td input {width:90%;height:30px;}

.Elvis_JusoDetail_BtnArea {text-align:center;padding:20px 0;margin-top: 10px;}
.Elvis_JusoDetail_BtnArea label {color: #fff;background: #186bb9;border: 1px solid #186bb9;cursor: pointer;font-size:0.75rem;padding: 5px 10px 5px 10px;}

.Span_Warning {display:inline-block;color: #f44336;font-size: 9pt;font-weight: 400;}

/* tab_area */
.tab_area{width:100%; font-size:18px;text-align:center;}
.tab_area .tab{display:flex;flex-wrap:wrap;}
.tab_area .tab > li{flex:1 1 25%;width:100%;font-family:Romic;line-height:40px;transition:all .3s ease;cursor:pointer;}
.tab_area .tab > li.tab_all{color:#012f4f;border:solid #e5e5e5;border-width:2px 1px 2px 2px;border-top-left-radius:5px;border-bottom-left-radius:5px;}
.tab_area .tab > li.tab_friend{color:#f49f17;border:1px solid #e5e5e5;border-width:2px 1px;}
.tab_area .tab > li.tab_prime{color:#220e3f;border:1px solid #e5e5e5;border-width:2px 1px;}
.tab_area .tab > li.tab_big{color:#24429c;border:1px solid #e5e5e5;border-width:2px 2px 2px 1px;border-top-right-radius:5px;border-bottom-right-radius:5px;}
.tab_area .tab > li.tab_all.on,
.tab_area .tab > li.tab_all:hover{background:#d6dee3;}
.tab_area .tab > li.tab_friend.on,
.tab_area .tab > li.tab_friend:hover{background:#fdebce;}
.tab_area .tab > li.tab_prime.on,
.tab_area .tab > li.tab_prime:hover{background:#dddae7;}
.tab_area .tab > li.tab_big.on,
.tab_area .tab > li.tab_big:hover{background:#dadff2;}

.panel{display:none;}