@{
    ViewBag.Title = "Booking";
    ViewBag.Sub = "Modify";

    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Container {
    <div class="container">
        <div class="sub_visual" id="Schedule">
            <div class="inner">
                <h4 class="subtitle">부킹 수정</h4>
            </div>
        </div>
        <div class="sub_cover" id="SubCover">
            <div class="fixed_in type2">
                <!-- booking_write -->
                <div class="booking_write">
                    <!-- left_area -->
                    <div class="left_area">
                        <div class="bk_box">
                            <table class="list_type1">
                                <colgroup>
                                    <col class="w3">
                                    <col>
                                    <col class="w13">
                                    <col class="w13">
                                    <col class="w13">
                                    <col class="w13">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th colspan="2">Carrier</th>
                                        <th>Service</th>
                                        <th>ETD</th>
                                        <th>ETA</th>
                                        <th>D/Closing</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="~/Images/logo/KMTC.png" /></td>
                                        <td>KMTC ULSAN, 2022S<br />3Days, Direct</td>
                                        <td>FCL</td>
                                        <td>2021.06.10<br />18:00</td>
                                        <td>2021.06.17<br />18:00</td>
                                        <td>2021.06.10<br />18:00</td>
                                        <td class="mobile_layout" colspan="6">
                                            <div class="layout_type2">
                                                <div class="row s2">KMTC ULSAN, 2022S</div>
                                                <div class="row s3">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>Carrier</th>
                                                                <td><img src="/Images/logo/KMTC.png" alt=""></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Service</th>
                                                                <td>FCL</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Departure</th>
                                                                <td>2020.10.25(일) KRPUS</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Arrival</th>
                                                                <td>2020.10.30(금) HKHKG</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Doc Closing</th>
                                                                <td>2020.10.22 (목) 18:00</td>
                                                            </tr>
                                                            <tr>
                                                                <th>T/time</th>
                                                                <td>5 Days</td>
                                                            </tr>
                                                            <tr>
                                                                <th>T/S</th>
                                                                <td>T/S</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <a href="javascript:void(0)" class="btn_type1">Booking</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- //left_area -->
                    <!-- right_area -->
                    <div class="right_area">
                        <div class="bk_box">
                            <!-- row -->
                            <div class="row">
                                <div class="int_box type1">
                                    <input type="text" value="iPhone 12 Pro Purple" placeholder="Item">
                                    <button type="button" class="btns icon delete"><span class="blind">삭제</span></button>
                                </div>
                            </div>
                            <!-- //row -->
                            <!-- row -->
                            <div class="row">
                            </div>
                            <div class="row">
                                <div class="grid_fluid type3">
                                    <div class="grid_col">
                                        <div class="int_box type1">
                                            <input type="text" value="" placeholder="Qty">
                                            <button type="button" class="btns icon delete"><span class="blind">삭제</span></button>
                                        </div>
                                        @*<div class="row">
                                        </div>*@
                                    </div>
                                    <div class="grid_col">
                                        @*<h4 class="title02">Gross Weight (kg)</h4>*@
                                        <div class="int_box type1">
                                            <input type="text" value="" placeholder="G/W (kg)">
                                            <button type="button" class="btns icon delete"><span class="blind">삭제</span></button>
                                        </div>
                                    </div>
                                    <div class="grid_col">
                                        @*<h4 class="title02">CBM</h4>*@
                                        <div class="int_box type1">
                                            <input type="text" value="" placeholder="CBM">
                                            <button type="button" class="btns icon delete"><span class="blind">삭제</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //row -->
                            <!-- row -->
                            <div class="row">
                                <div class="int_box type1">
                                    <textarea class="txtarea" placeholder="Remark"></textarea>
                                </div>
                            </div>
                            <!-- //row -->
                            <!-- row -->
                            <div class="row">
                                <!-- file_box -->
                                <div class="file_box">
                                    <label for="upload_btn" class="btn_file btn_type1">+ 첨부파일</label>
                                    <input type="file" id="upload_btn" class="upload_btn" multiple="multiple">
                                </div>
                                <!-- //file_box -->
                                <table class="list_type1 keep_on">
                                    <colgroup>
                                        <col class="w8" />
                                        <col />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>구분</th>
                                            <th>파일명</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div class="scrollbar_bkfile">
                                    <table class="list_type1 no_border keep_on">
                                        <colgroup>
                                            <col class="w8" />
                                            <col />
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <select class="select" id="select_FileList_FileSeparation" name="select_FileList_FileSeparation">
                                                        <option value="C/I , P/L" selected="">C/I , P/L</option>
                                                        <option value="Certificate of Origin">원산지 증명서</option>
                                                        <option value="Customs Clearance">수출 면장</option>
                                                        <option value="Export Contract">수출계약서</option>
                                                        <option value="기타">기타</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <div class="file_cover">
                                                        <span class="file_name">5746994-512.png</span>
                                                        <button type="button" class="del" id="span_FileList_FileDelete"><span class="blind">삭제</span></button>
                                                        <input type="hidden" class="input_FileList_SEQ">
                                                        <input type="hidden" class="input_FileList_SetTime" id="input_FileList_SetTime" value="20210614171523256">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <select class="select" id="select_FileList_FileSeparation" name="select_FileList_FileSeparation">
                                                        <option value="C/I , P/L" selected="">C/I , P/L</option>
                                                        <option value="Certificate of Origin">원산지 증명서</option>
                                                        <option value="Customs Clearance">수출 면장</option>
                                                        <option value="Export Contract">수출계약서</option>
                                                        <option value="기타">기타</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <div class="file_cover">
                                                        <span class="file_name">5746994-512.png</span>
                                                        <button type="button" class="del" id="span_FileList_FileDelete"><span class="blind">삭제</span></button>
                                                        <input type="hidden" class="input_FileList_SEQ">
                                                        <input type="hidden" class="input_FileList_SetTime" id="input_FileList_SetTime" value="20210614171523256">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <select class="select" id="select_FileList_FileSeparation" name="select_FileList_FileSeparation">
                                                        <option value="C/I , P/L" selected="">C/I , P/L</option>
                                                        <option value="Certificate of Origin">원산지 증명서</option>
                                                        <option value="Customs Clearance">수출 면장</option>
                                                        <option value="Export Contract">수출계약서</option>
                                                        <option value="기타">기타</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <div class="file_cover">
                                                        <span class="file_name">5746994-512.png</span>
                                                        <button type="button" class="del" id="span_FileList_FileDelete"><span class="blind">삭제</span></button>
                                                        <input type="hidden" class="input_FileList_SEQ">
                                                        <input type="hidden" class="input_FileList_SetTime" id="input_FileList_SetTime" value="20210614171523256">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <table class="booking_view modify">
                                    <colgroup>
                                        <col class="w3">
                                        <col class="w2">
                                    </colgroup>
                                    <tbody class="detail">
                                        <tr>
                                            <td colspan="2">
                                                반입지 : 경상남도 창원시 진해구 신항 8로 321
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                담당자: 홍길동 대리 <br class="mo" />(XXX-XXXX-XXXX)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">비고 : 비고가 들어갈 칸입니다</td>
                                        </tr>
                                        <tr>
                                            <td><button type="submit" class="btn_type1 reverse">저장</button></td>
                                            <td><button type="submit" class="btn_type1 reverse" onclick="location.href='/Booking/Inquiry'">목록</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- //row -->
                        </div>
                    </div>
                    <!-- //right_area -->
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Scripts/js/Booking/booking.js")
}