@{
    ViewBag.Title = "ChkMgr";
    ViewBag.Sub = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@section Container {
    <!-- S : section -->
    <section class="section sign list_in">

        <input type="hidden" id="View_INV_NO" value="@ViewBag.INV_NO" />

        <div class="container">
            <div class="content">
                <!-- S : search-area -->
                <div class="search-area">
                    <div class="search__date__long">
                        <input type="text" class="cal_date" id="input_Settle_DATE" placeholder="정산일자" />
                    </div>
                    <div class="search__input int_box">
                        <input type="text" class="" placeholder="HBL No" id="input_HBL_NO" />
                        <button type="button" class="btns icon delete" style="display: none;"><span class="blind">삭제</span></button>
                    </div>
                    <div class="search__select">
                        <select id="select_Settle_Type">
                            <option class="black" value="" selected>정산서 종류</option>
                            <option class="black" value="B" >지출결의서</option>
                            <option class="black" value="P">Credit Note</option>
                        </select>
                    </div>
                    <div class="search__select">
                        <select id="select_ChkMgr">
                            <option class="black" value="" selected>팀장확인 여부</option>
                            <option class="black" value="Y">확인</option>
                            <option class="black" value="N">미확인</option>
                        </select>
                    </div>
                    <div class="search__button">
                        <button type="button" class="btns search" id="btn_Search" onclick="fnMovePage('ChkMgr_Result')">조회</button>
                    </div>
                </div>
                <!-- E : search-area -->
                <!-- S : result-area -->
                <div class="result-area" id="ChkMgr_Result">
                    <div class="result-box no-data">
                        <img src="~/Images/Common/icn_nodata.png" />
                        <span id="no_data_text"></span>
                    </div>

                    <!-- Y : 일괄확인 -->
                    @*
                    <div class="circle-once">
                        <div class="circle-once__bg">
                            <div class="circle-once__flex">
                                <div class="circle-once__detail">
                                    <div class="circle-once__title">정산일자</div>
                                    <div class="circle-once__desc">2022-08-03</div>
                                    <div class="circle-once__title">금액(KRW)</div>
                                    <div class="circle-once__desc">KRW 1,000,000,000</div>
                                </div>
                                <button type="button" class="btns cancle" id="btn_ALLCircle"><img src="~/Images/ChkMgr/Circle.png" />일괄확인</button>
                            </div>
                        </div>
                    </div>
                    *@
                    <!-- Y : 일괄확인 -->

                    <!-- N : 일괄취소 -->
                    @*
                    <div class="cancel-once">
                        <div class="cancel-once__bg">
                            <div class="cancel-once__flex">
                                <div class="cancel-once__detail">
                                    <div class="cancel-once__title">정산일자</div>
                                    <div class="cancel-once__desc">2022-08-03</div>
                                    <div class="cancel-once__title">금액(KRW)</div>
                                    <div class="cancel-once__desc">KRW 1,000,000,000</div>
                                </div>
                                <button type="button" class="btns cancle" id="btn_ALLCancel"><img src="~/Images/ChkMgr/Cancel.png" />일괄취소</button>
                            </div>
                        </div>
                    </div>*@
                    <!-- N : 일괄취소 -->

                    <!-- Y : 확인-->
                    @*<div class="result-box">
                        <div class="result-title2">
                            <h3 class="result-type1">CUSTOM AGENT TGL INTERNATIONAL LLC, FOR</h3>
                            <button type="button" class="btns plus"></button>
                        </div>
                        <div class="chkmgr-info circle">
                            <div class="chkmgr-info__cont">
                                <p>정산처명 : <span>ABCDEFGHIJKLMNOP</span></p>
                            </div>
                            <div class="chkmgr-info__cont">
                                <p>HBL 번호 : <span>ABCDEFGHIJKLMNOP</span></p>
                            </div>
                            <div class="chkmgr-info__cont">
                                <p>정산서 번호 : <span>ABCDEFGHIJKLMNOP</span></p>
                            </div>
                            <div class="chkmgr-info__cont">
                                <p>정산일자 : <span>ABCDEFGHIJKLMNOP</span></p>
                            </div>
                            <div class="chkmgr-info__cont">
                                <p>금액(환종) : <span class="red">KRW 1,000,000,000</span></p>
                            </div>
                        </div>
                        <div class="result-customer__detail">
                            <div class="result-tbl">
                                <div class="result-tbl__button">
                                    <button type="button" class="btns open"><span class="hidden">펼치기</span></button>
                                </div>
                                <div class="result-tbl__hidden">
                                    <div class="result-tbl__bundle">
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>정산처코드</p></div>
                                            <div class="result-tbl__desc2"><p>SBOOWON</p></div>
                                        </div>
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>HBL건수</p></div>
                                            <div class="result-tbl__desc2"><p>1000</p></div>
                                        </div>
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>증빙여부</p></div>
                                            <div class="result-tbl__desc2"><p>Y</p></div>
                                        </div>
                                    </div>
                                    <div class="result-tbl__bundle">
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>청구(KRW)</p></div>
                                            <div class="result-tbl__desc2"><p>4,466,151,574.00</p></div>
                                        </div>
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>청구(USD)</p></div>
                                            <div class="result-tbl__desc2"><p>4,466,151,574.00</p></div>
                                        </div>
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>운임(KRW)</p></div>
                                            <div class="result-tbl__desc2"><p>4,466,151,574.00</p></div>
                                        </div>
                                    </div>
                                    <div class="result-tbl__bundle">
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>운임(USD)</p></div>
                                            <div class="result-tbl__desc2"><p>4,466,151,574.00</p></div>
                                        </div>
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>VAT</p></div>
                                            <div class="result-tbl__desc2"><p>466,151,574.00</p></div>
                                        </div>
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>청구환종</p></div>
                                            <div class="result-tbl__desc2"><p>KRW</p></div>
                                        </div>
                                    </div>
                                    <div class="result-tbl__bundle">
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>은행명</p></div>
                                            <div class="result-tbl__desc2"><p>KRW 수입운임(부산) 외환은행</p></div>
                                        </div>
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>계좌번호</p></div>
                                            <div class="result-tbl__desc2"><p>066-083368-56-00016</p></div>
                                        </div>
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>예금주</p></div>
                                            <div class="result-tbl__desc2"><p>MCC TRANSPORT (SEALAND - A MAERSK COMPANY)</p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="result-tbl__button2">
                                    <button type="button" class="btns cancle-in" id="btn_SingleCancel">확인취소</button>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <!-- Y : 확인 -->

                    <!-- N : 확인취소 -->
                    @*<div class="result-box">
                        <div class="result-title2">
                            <h3 class="result-type1">CUSTOM AGENT TGL INTERNATIONAL LLC, FOR</h3>
                            <button type="button" class="btns plus"></button>
                        </div>
                        <div class="chkmgr-info cancel">
                            <div class="chkmgr-info__cont">
                                <p>정산처명 : <span>ABCDEFGHIJKLMNOP</span></p>
                            </div>
                            <div class="chkmgr-info__cont">
                                <p>HBL 번호 : <span>ABCDEFGHIJKLMNOP</span></p>
                            </div>
                            <div class="chkmgr-info__cont">
                                <p>정산서 번호 : <span>ABCDEFGHIJKLMNOP</span></p>
                            </div>
                            <div class="chkmgr-info__cont">
                                <p>정산일자 : <span>ABCDEFGHIJKLMNOP</span></p>
                            </div>
                            <div class="chkmgr-info__cont">
                                <p>금액(환종) : <span class="red">KRW 1,000,000,000</span></p>
                            </div>
                        </div>
                        <div class="result-customer__detail">
                            <div class="result-tbl">
                                <div class="result-tbl__button">
                                    <button type="button" class="btns open"><span class="hidden">펼치기</span></button>
                                </div>
                                <div class="result-tbl__hidden">
                                    <div class="result-tbl__bundle">
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>정산처코드</p></div>
                                            <div class="result-tbl__desc2"><p>SBOOWON</p></div>
                                        </div>
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>HBL건수</p></div>
                                            <div class="result-tbl__desc2"><p>1000</p></div>
                                        </div>
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>증빙여부</p></div>
                                            <div class="result-tbl__desc2"><p>Y</p></div>
                                        </div>
                                    </div>
                                    <div class="result-tbl__bundle">
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>청구(KRW)</p></div>
                                            <div class="result-tbl__desc2"><p>4,466,151,574.00</p></div>
                                        </div>
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>청구(USD)</p></div>
                                            <div class="result-tbl__desc2"><p>4,466,151,574.00</p></div>
                                        </div>
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>운임(KRW)</p></div>
                                            <div class="result-tbl__desc2"><p>4,466,151,574.00</p></div>
                                        </div>
                                    </div>
                                    <div class="result-tbl__bundle">
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>운임(USD)</p></div>
                                            <div class="result-tbl__desc2"><p>4,466,151,574.00</p></div>
                                        </div>
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>VAT</p></div>
                                            <div class="result-tbl__desc2"><p>466,151,574.00</p></div>
                                        </div>
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>청구환종</p></div>
                                            <div class="result-tbl__desc2"><p>KRW</p></div>
                                        </div>
                                    </div>
                                    <div class="result-tbl__bundle">
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>은행명</p></div>
                                            <div class="result-tbl__desc2"><p>KRW 수입운임(부산) 외환은행</p></div>
                                        </div>
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>계좌번호</p></div>
                                            <div class="result-tbl__desc2"><p>066-083368-56-00016</p></div>
                                        </div>
                                        <div class="result-tbl__cont2">
                                            <div class="result-tbl__title2"><p>예금주</p></div>
                                            <div class="result-tbl__desc2"><p>MCC TRANSPORT (SEALAND - A MAERSK COMPANY)</p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="result-tbl__button2">
                                    <button type="button" class="btns circle-in" id="btn_SingleCircle">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <!-- N : 확인취소 -->
                </div>
                <!-- E : result-area -->
            </div>
        </div>
    </section>
    <!-- E : section -->

    <div class="layer_zone alert_type" id="layer_ALLCircle">
        <div class="layer_wrap">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <div class="alert_cont">
                        <img src="~/Images/Common/icn_alert.png" />
                        <div class="inner2">
                            일괄 확인 하시겠습니까?
                        </div>
                    </div>
                    <div class="btn_w">
                        <button type="button" class="btns alert_cancel" id="btn_ALLCircle_Cancel">취소</button>
                        <button type="button" class="btns alert_confirm" id="btn_ALLCircle_Confirm">확인</button>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div class="layer_zone alert_type" id="layer_ALLCancel">
        <div class="layer_wrap">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <div class="alert_cont">
                        <img src="~/Images/Common/icn_alert.png" />
                        <div class="inner2">
                            일괄 확인취소 하시겠습니까?
                        </div>
                    </div>
                    <div class="btn_w">
                        <button type="button" class="btns alert_cancel" id="btn_ALLCancel_Cancel">취소</button>
                        <button type="button" class="btns alert_confirm" id="btn_ALLCancel_Confirm">확인</button>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div class="layer_zone alert_type" id="layer_SingleCircle">
        <div class="layer_wrap">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <div class="alert_cont">
                        <img src="~/Images/Common/icn_alert.png" />
                        <div class="inner2">
                            확인 하시겠습니까?
                        </div>
                    </div>
                    <div class="btn_w">
                        <button type="button" class="btns alert_cancel" id="btn_SingleCircle_Cancel">취소</button>
                        <button type="button" class="btns alert_confirm" id="btn_SingleCircle_Confirm">확인</button>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div class="layer_zone alert_type" id="layer_SingleCancel">
        <div class="layer_wrap">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <div class="alert_cont">
                        <img src="~/Images/Common/icn_alert.png" />
                        <div class="inner2">
                            확인취소 하시겠습니까?
                        </div>
                    </div>
                    <div class="btn_w">
                        <button type="button" class="btns alert_cancel" id="btn_SingleCancel_Cancel">취소</button>
                        <button type="button" class="btns alert_confirm" id="btn_SingleCancel_Confirm">확인</button>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <!-- E : section -->
    @Scripts.Render("/Scripts/js/ChkMgr/ChkMgr.js")
}