@section Container {

    @*@Scripts.Render("/Scripts/User/smtp.js")*@
    @*<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>*@
    <style>
        .Span_Warning { width: 100%; display: inline-block; margin-top: 5px; text-align: left; color: #f44336; font-size: 9pt; font-weight: 400; }
    </style>
    <section class="container bg_white" id="container">
        <div class="fix_inner">
            <!-- contents -->
            <form action="/Home/FnSetReg" name="ajax_form" id="ajax_form" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                <div class="contents pd_type1">
                    <h2 class="subtitle03 mb_type1">서비스 가입 신청</h2>
                    <div class="tab_area" id="tab_area">
                        <ul class="tab">
                            <li class="tab_all on" id="TAB_ALL"><a href="javascript:void(0)">ELVIS-Package</a></li>
                            <li class="tab_friend" id="TAB_FRD"><a href="javascript:void(0)">ELVIS-FRIEND</a></li>
                            <li class="tab_prime" id="TAB_PRM"><a href="javascript:void(0)">ELVIS-PRIME</a></li>
                            <li class="tab_big" id="TAB_BIG"><a href="javascript:void(0)">ELVIS-BIG</a></li>
                        </ul>
                    </div>
                    <div class="cmt_row">
                        <span class="mo"><span class="required">*</span>필수 입력 항목</span>
                        <span class="pc"><span class="required">*</span>표시는 필수적으로 입력해 주셔야 가입이 됩니다.</span>
                    </div>

                    <!-- ELVIS 고객사 정보 -->
                    <div class="CustomerInfo_form">
                        <div class="tab_panel">
                            <!-- S : 통합가입 -->
                            <div class="panel" style="display:block">
                                <p class="subtext">
                                    입력하신 정보는 회원님의 동의없이 공개되지 않으며, <br />
                                    개인정보보호정책에 의해서 보호를 받습니다.
                                </p>
                            </div>
                            <!-- E : 통합가입 -->
                            <!-- S : ELVIS-FRIEND-->
                            <div class="panel">
                                <p class="subtext">
                                    입력하신 정보는 회원님의 동의없이 공개되지 않으며, <br />
                                    개인정보보호정책에 의해서 보호를 받습니다.
                                </p>
                            </div>
                            <!-- E : ELVIS-FRIEND -->
                            <!-- S : ELVIS-PRIME-->
                            <div class="panel">
                                <p class="subtext">
                                    입력하신 정보는 회원님의 동의없이 공개되지 않으며, <br />
                                    개인정보보호정책에 의해서 보호를 받습니다.
                                </p>
                            </div>
                            <!-- E : ELVIS-PRIME -->
                            <!-- S : ELVIS-BIG-->
                            <div class="panel">
                                <p class="subtext">
                                    입력하신 정보는 회원님의 동의없이 공개되지 않으며, <br />
                                    개인정보보호정책에 의해서 보호를 받습니다.
                                </p>
                            </div>
                            <!-- E : ELVIS-BIG -->
                            <div class="row">
                                <div class="cell_area">
                                    <div class="cell_tit">
                                        <span class="required">*</span>사용할 아이디
                                    </div>
                                    <div class="cell_td">
                                        <input type="text" id="Elvis_ID" name="Elvis_ID" class="int" value="" data-index="0" maxlength="10" />
                                    </div>
                                </div>
                                <div class="cell_area">
                                    <div class="cell_tit">
                                        <span class="required">*</span>사업자등록번호
                                    </div>
                                    <div class="cell_td">
                                        <input type="text" id="Elvis_CRN" name="Elvis_CRN" class="int Input_Elvis_CRN" value="" placeholder="- 없이 입력 해 주세요." maxlength="10" data-index="1" />
                                        <label id="Elvis_Check_Crn" class="label_check_crn">사업자 번호 확인</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="cell_area">
                                    <div class="cell_tit">
                                        <span class="required">*</span>비밀번호
                                    </div>
                                    <div class="cell_td">
                                        <input type="password" id="Elvis_PW1" name="Elvis_PW1" class="int" value="" maxlength="16" data-index="2" />
                                        @*<span class="Span_Warning" id="Pw1_Compare">비밀번호가 같지 않습니다. 확인하고 다시 입력 해 주세요.</span>*@
                                        <p class="Span_Warning" style="display: none" id="Pw1_OverSix">비밀번호를 6자리 이상 입력 해 주세요</p>
                                    </div>
                                </div>
                                <div class="cell_area">
                                    <div class="cell_tit">
                                        <span class="required">*</span>비밀번호 확인
                                    </div>
                                    <div class="cell_td">
                                        <input type="password" id="Elvis_PW2" name="Elvis_PW2" class="int" value="" maxlength="16" data-index="3" />
                                        <p class="Span_Warning" style="display: none" id="Pw2_OverSix">비밀번호를 6자리 이상 입력 해 주세요</p>
                                        <p class="Span_Warning" style="display: none" id="Pw2_Compare">비밀번호가 같지 않습니다. 확인하고 다시 입력 해 주세요.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="cell_area">
                                    <div class="cell_tit">
                                        <span class="required">*</span>상호
                                    </div>
                                    <div class="cell_td">
                                        <input type="text" id="Elvis_OfficeNM" name="Elvis_OfficeNM" class="int" value="" data-index="4" maxlength="25" />
                                    </div>
                                </div>
                                <div class="cell_area">
                                    <div class="cell_tit">
                                        <span class="required">*</span>대표자
                                    </div>
                                    <div class="cell_td">
                                        <input type="text" id="Elvis_LOCNM" name="Elvis_LOCNM" class="int" value="" data-index="5" maxlength="20" />
                                    </div>
                                </div>

                            </div>

                            <div class="row2">
                                <div class="cell_area">
                                    <div class="cell_tit">
                                        <span class="required">*</span>주소
                                    </div>
                                    <div class="cell_td">
                                        <input type="text" id="Elvis_OFFICE_CODE" name="Elvis_OFFICE_CODE" class="int Elvis_OFFICE_ADDR" value="" placeholder="우편번호" readonly />
                                        @*<button id="Elvis_Find_Addr" class="find_office_addr">주소 찾기</button>*@
                                        <label id="Elvis_Find_Addr" class="find_office_addr">주소 찾기</label>
                                    </div>
                                </div>
                                <div class="cell_area"></div>
                            </div>

                            <div class="row">
                                <div class="cell_area">
                                    <div class="cell_td" style="margin-bottom:0">
                                        <input type="text" id="Elvis_OFFICE_ADDR" name="Elvis_OFFICE_ADDR" class="int" value="" placeholder="주소를 입력 해 주세요." readonly />
                                    </div>
                                </div>
                                <div class="cell_area">
                                    <div class="cell_td">
                                        <input type="text" id="Elvis_OFFICE_ADDR2" name="Elvis_OFFICE_ADDR2" class="int" value="" placeholder="상세주소" data-index="6" maxlength="90" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="cell_area">
                                    <div class="cell_tit">
                                        <span class="required">*</span>이메일
                                    </div>
                                    <div class="cell_td email_area">
                                        <div style="width:70%;float:left">
                                            <input type="text" id="Elvis_EMAIL1" name="Elvis_EMAIL1" class="int" value="" data-index="7" maxlength="30" />
                                            <span>
                                                @Html.Raw("@")
                                            </span>
                                            <input type="text" id="Elvis_EMAIL2" name="Elvis_EMAIL2" class="int" value="" data-index="8" maxlength="20" />
                                        </div>
                                        <select class="int" id="Elvis_Email_Select">
                                            <option value="" selected="">직접입력</option>
                                            <option value="daum.net">daum.net</option>
                                            <option value="empal.com">empal.com</option>
                                            <option value="gmail.com">gmail.com</option>
                                            <option value="hanmail.net">hanmail.net</option>
                                            <option value="msn.com">msn.com</option>
                                            <option value="naver.com">naver.com</option>
                                            <option value="nate.com">nate.com</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="cell_area">
                                    <div class="cell_tit">
                                        <span class="required">*</span>휴대전화
                                    </div>
                                    <div class="cell_td">
                                        <input type="text" id="Elvis_HP_NO" name="Elvis_HP_NO" class="int" value="" data-index="9" maxlength="13" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="cell_area">
                                    <div class="cell_tit">
                                        <span class="required">*</span>신청일자
                                    </div>
                                    <div class="cell_td">
                                        <div id="Elvis_REG_DATE_Area" class="">
                                            <input type="text" id="Elvis_REG_DATE" name="Elvis_REG_DATE" value="" class="int Elvis_REG_DATE" style="cursor: default;" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="cell_area">
                                    <div class="cell_tit">
                                        <span class="required">*</span>시작일자
                                    </div>
                                    <div class="cell_td">
                                        <div id="Elvis_STAT_DATE_Area" class="">
                                            <input type="text" id="Elvis_STAT_DATE" name="Elvis_STAT_DATE" value="" class="int Elvis_STAT_DATE" style="cursor: default;" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ELVIS 고객사 정보 -->
                    <!-- ELVIS 신청 내용 (VAT별도) -->
                    <div class="CustomerReg_Area">
                        <table class="CustomerReg_table">
                            <colgroup>
                                <col width="15%" />
                                <col width="15%" />
                                <col width="17.5%" />
                                <col width="17.5%" />
                                <col width="17.5%" />
                                <col width="17.5%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>구분</th>
                                    <th>항목</th>
                                    <th colspan="4">내용</th>
                                </tr>
                            </thead>
                            <!-- S : 통합가입 -->
                            <tbody class="panel_tbl" style="display:table-row-group">
                                <tr>
                                    <td rowspan="15" class="text_align_center span_elvis">ELVIS</td>
                                    <td rowspan="14" class="text_align_center span_svc">서비스</td>
                                    <td rowspan="4">
                                        <input type="checkbox" id="elvis" class="GetServicePrice" />
                                        <label for="elvis">ELVIS</label>
                                        <input type="hidden" name="elvis" value="N" />
                                    </td>
                                    <td>
                                        <input type="checkbox" id="elvis_fms" class="GetServicePrice" />
                                        <label for="elvis_fms">FMS</label>
                                        <input type="hidden" name="elvis_fms" value="N" />
                                    </td>
                                    <td colspan="2" id="elvis_fms_price_text">250,000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="elvis_wms" class="GetServicePrice" />
                                        <label for="elvis_wms">WMS</label>
                                        <input type="hidden" name="elvis_wms" value="N" />
                                    </td>
                                    <td colspan="2" id="elvis_wms_price_text">250,000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="elvis_tms" class="GetServicePrice" />
                                        <label for="elvis_tms">TMS</label>
                                        <input type="hidden" name="elvis_tms" value="N" />
                                    </td>
                                    <td colspan="2" id="elvis_tms_price_text">150,000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="elvis_express" class="GetServicePrice" />
                                        <label for="elvis_express">특송</label>
                                        <input type="hidden" name="elvis_express" value="N" />
                                    </td>
                                    <td colspan="2" id="elvis_express_price_text">150,000</td>
                                </tr>
                                <tr class="elvis row_prm">
                                    <td colspan="2">
                                        <input type="checkbox" id="elvis_prime" class="GetServicePrice" />
                                        <label for="elvis_prime">프라임</label>
                                        <input type="hidden" name="elvis_prime" value="N" />
                                    </td>
                                    <td colspan="2" id="elvis_prime_price_text">150,000</td>
                                </tr>
                                <tr class="elvis row_big">
                                    <td rowspan="5">
                                        <input type="checkbox" id="elvis_big" class="GetServicePrice" />
                                        <label for="elvis_big">ELVIS-BIG</label>
                                        <input type="hidden" name="elvis_big" value="N" />
                                    </td>
                                    <td>
                                        <input type="checkbox" id="elvis_big_uni" class="GetServicePrice elvisbig_category" disabled="disabled" />
                                        <label for="elvis_big_uni">수입화물/수출이행</label>
                                        <input type="hidden" name="elvis_big_uni" value="N" />
                                    </td>
                                    <td colspan="2" rowspan="5">
                                        <span id="elvis_big_price_text">100,000</span>
                                        <p style="color:#0075FF;font-size:12px;font-weight:300;margin-top:5px;">* ELVIS-BIG의 각 카테고리 별 사용금액은 50,000원 입니다.</p>
                                    </td>
                                </tr>
                                <tr class="elvis row_big">
                                    <td>
                                        <input type="checkbox" id="elvis_big_sfi" class="GetServicePrice elvisbig_category" disabled="disabled" />
                                        <label for="elvis_big_sfi">해상운임</label>
                                        <input type="hidden" name="elvis_big_sfi" value="N" />
                                    </td>
                                </tr>
                                <tr class="elvis row_big">
                                    <td>
                                        <input type="checkbox" id="elvis_big_ter" class="GetServicePrice elvisbig_category" disabled="disabled" />
                                        <label for="elvis_big_ter">터미널</label>
                                        <input type="hidden" name="elvis_big_ter" value="N" />
                                    </td>
                                </tr>
                                <tr class="elvis row_big">
                                    <td>
                                        <input type="checkbox" id="elvis_big_trk" class="GetServicePrice elvisbig_category" disabled="disabled" />
                                        <label for="elvis_big_trk">화물추적</label>
                                        <input type="hidden" name="elvis_big_trk" value="N" />
                                    </td>
                                </tr>
                                <tr class="elvis row_big">
                                    <td>
                                        <input type="checkbox" id="elvis_big_lat" class="GetServicePrice elvisbig_category" disabled="disabled" />
                                        <label for="elvis_big_lat">D/A 최적화</label>
                                        <input type="hidden" name="elvis_big_lat" value="N" />
                                    </td>
                                </tr>
                                <tr class="elvis row_frd">
                                    <td rowspan="3">
                                        <input type="checkbox" id="elvis_big_friend" class="GetServicePrice" />
                                        <label for="elvis_big_friend">ELVIS-FRIEND</label>
                                        <input type="hidden" name="elvis_big_friend" value="N" />
                                    </td>
                                    <td>
                                        <input type="checkbox" id="elvis_big_docu" class="GetServicePrice elvisfriend_category" />
                                        <label for="elvis_big_docu">견적/서식(문서판독)관리</label>
                                        <input type="hidden" name="elvis_big_docu" value="N" />
                                    </td>
                                    <td colspan="2">
                                        <span id="elvis_big_docu_price_text">200,000</span>
                                    </td>
                                </tr>
                                <tr class="elvis row_frd">
                                    <td>
                                        <input type="checkbox" id="elvis_big_exim" class="GetServicePrice elvisfriend_category" />
                                        <label for="elvis_big_exim">수출입 화물 관리</label>
                                        <input type="hidden" name="elvis_big_exim" value="N" />
                                    </td>
                                    <td colspan="2">
                                        <span id="elvis_big_exim_price_text">100,000</span>
                                    </td>
                                </tr>
                                <tr class="elvis row_frd">
                                    <td>
                                        <input type="checkbox" id="elvis_big_data" class="GetServicePrice elvisfriend_category" />
                                        <label for="elvis_big_data">물류 분석 데이터 관리</label>
                                        <input type="hidden" name="elvis_big_data" value="N" />
                                    </td>
                                    <td colspan="2">
                                        <span id="elvis_big_data_price_text">100,000</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="background-color:#f5f5f5">월사용료</td>
                                    <td colspan="2" id="elvis_total_price">
                                        0
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text_align_center">자료이관</td>
                                    <td colspan="2">
                                        <input type="checkbox" id="elvis_cust_info" />
                                        <label for="elvis_cust_info">거래처 정보</label>
                                        <input type="hidden" name="elvis_cust_info" value="N" />
                                    </td>
                                    <td colspan="3">
                                        <input type="checkbox" id="elvis_account" />
                                        <label for="elvis_account">회계 잔액</label>
                                        <input type="hidden" name="elvis_account" value="N" />
                                    </td>
                                </tr>
                            </tbody>
                            <!-- E : 통합가입 -->
                            <!-- S : ELVIS-FRIEND -->
                            @*<tbody class="panel_tbl">
                                <tr>
                                    <td rowspan="9" class="text_align_center">ELVIS</td>
                                    <td rowspan="8" class="text_align_center">서비스</td>
                                    <td rowspan="4">
                                        <input type="checkbox" id="elvis_frd" class="GetServicePrice" />
                                        <label for="elvis_frd">ELVIS</label>
                                        <input type="hidden" name="elvis_frd" value="N" />
                                    </td>
                                    <td>
                                        <input type="checkbox" id="elvis_fms_frd" class="GetServicePrice" />
                                        <label for="elvis_fms_frd">FMS</label>
                                        <input type="hidden" name="elvis_fms_frd" value="N" />
                                    </td>
                                    <td colspan="2" id="elvis_fms_price_frd_text">250,000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="elvis_wms_frd" class="GetServicePrice" />
                                        <label for="elvis_wms_frd">WMS</label>
                                        <input type="hidden" name="elvis_wms_frd" value="N" />
                                    </td>
                                    <td colspan="2" id="elvis_wms_price_frd_text">250,000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="elvis_tms_frd" class="GetServicePrice" />
                                        <label for="elvis_tms_frd">TMS</label>
                                        <input type="hidden" name="elvis_tms_frd" value="N" />
                                    </td>
                                    <td colspan="2" id="elvis_tms_price_frd_text">150,000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="elvis_express_frd" class="GetServicePrice" />
                                        <label for="elvis_express_frd">특송</label>
                                        <input type="hidden" name="elvis_express_frd" value="N" />
                                    </td>
                                    <td colspan="2" id="elvis_express_price_frd_text">150,000</td>
                                </tr>
                                <tr>
                                    <td rowspan="3">
                                        <input type="checkbox" id="elvis_big_friend_frd" class="GetServicePrice" />
                                        <label for="elvis_big_friend_frd">ELVIS-FRIEND</label>
                                        <input type="hidden" name="elvis_big_friend_frd" value="N" />
                                    </td>
                                    <td>
                                        <input type="checkbox" id="elvis_big_docu_frd" class="GetServicePrice elvisfriend_category" />
                                        <label for="elvis_big_docu_frd">견적/서식(문서판독)관리</label>
                                        <input type="hidden" name="elvis_big_docu_frd" value="N" />
                                    </td>
                                    <td colspan="2">
                                        <span id="elvis_big_docu_price_text">200,000</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="elvis_big_exim_frd" class="GetServicePrice elvisfriend_category" />
                                        <label for="elvis_big_exim_frd">수출입 화물 관리</label>
                                        <input type="hidden" name="elvis_big_exim_frd" value="N" />
                                    </td>
                                    <td colspan="2">
                                        <span id="elvis_big_exim_price_text">100,000</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="elvis_big_data" class="GetServicePrice elvisfriend_category" />
                                        <label for="elvis_big_data">물류 분석 데이터 관리</label>
                                        <input type="hidden" name="elvis_big_data" value="N" />
                                    </td>
                                    <td colspan="2">
                                        <span id="elvis_big_data_price_text">100,000</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="background-color:#f5f5f5">월사용료</td>
                                    <td colspan="2" class="elvis_total_price">
                                        0
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text_align_center">자료이관</td>
                                    <td colspan="2">
                                        <input type="checkbox" id="elvis_cust_info" />
                                        <label for="elvis_cust_info">거래처 정보</label>
                                        <input type="hidden" name="elvis_cust_info" value="N" />
                                    </td>
                                    <td colspan="3">
                                        <input type="checkbox" id="elvis_account" />
                                        <label for="elvis_account">회계 잔액</label>
                                        <input type="hidden" name="elvis_account" value="N" />
                                    </td>
                                </tr>
                            </tbody>*@
                            <!-- E : ELVIS-FRIEND -->
                            <!-- S : ELVIS-PRIME -->
                            @*<tbody class="panel_tbl">
                                <tr>
                                    <td rowspan="7" class="text_align_center">ELVIS</td>
                                    <td rowspan="6" class="text_align_center">서비스</td>
                                    <td rowspan="4">
                                        <input type="checkbox" id="elvis_prm" class="GetServicePrice" />
                                        <label for="elvis_prm">ELVIS</label>
                                        <input type="hidden" name="elvis_prm" value="N" />
                                    </td>
                                    <td>
                                        <input type="checkbox" id="elvis_fms_prm" class="GetServicePrice" />
                                        <label for="elvis_fms_prm">FMS</label>
                                        <input type="hidden" name="elvis_fms_prm" value="N" />
                                    </td>
                                    <td colspan="2" id="elvis_fms_price_text">250,000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="elvis_wms_prm" class="GetServicePrice" />
                                        <label for="elvis_wms_prm">WMS</label>
                                        <input type="hidden" name="elvis_wms_prm" value="N" />
                                    </td>
                                    <td colspan="2" id="elvis_wms_price_text">250,000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="elvis_tms_prm" class="GetServicePrice" />
                                        <label for="elvis_tms_prm">TMS</label>
                                        <input type="hidden" name="elvis_tms_prm" value="N" />
                                    </td>
                                    <td colspan="2" id="elvis_tms_price_text">150,000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="elvis_express_prm" class="GetServicePrice" />
                                        <label for="elvis_express_prm">특송</label>
                                        <input type="hidden" name="elvis_express_prm" value="N" />
                                    </td>
                                    <td colspan="2" id="elvis_express_price_text">150,000</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="checkbox" id="elvis_prime" class="GetServicePrice" />
                                        <label for="elvis_prime">프라임</label>
                                        <input type="hidden" name="elvis_prime" value="N" />
                                    </td>
                                    <td colspan="2" id="elvis_prime_price_text">150,000</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="background-color:#f5f5f5">월사용료</td>
                                    <td colspan="2" class="elvis_total_price">
                                        0
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text_align_center">자료이관</td>
                                    <td colspan="2">
                                        <input type="checkbox" id="elvis_cust_info" />
                                        <label for="elvis_cust_info">거래처 정보</label>
                                        <input type="hidden" name="elvis_cust_info" value="N" />
                                    </td>
                                    <td colspan="3">
                                        <input type="checkbox" id="elvis_account" />
                                        <label for="elvis_account">회계 잔액</label>
                                        <input type="hidden" name="elvis_account" value="N" />
                                    </td>
                                </tr>
                            </tbody>*@
                            <!-- E : ELVIS-PRIME -->
                            <!-- S : ELVIS-BIG -->
                            @*<tbody class="panel_tbl">
                                <tr>
                                    <td rowspan="11" class="text_align_center">ELVIS</td>
                                    <td rowspan="10" class="text_align_center">서비스</td>
                                    <td rowspan="4">
                                        <input type="checkbox" id="elvis_tab_big" class="GetServicePrice" />
                                        <label for="elvis_tab_big">ELVIS</label>
                                        <input type="hidden" name="elvis_tab_big" value="N" />
                                    </td>
                                    <td>
                                        <input type="checkbox" id="elvis_fms_tab_big" class="GetServicePrice" />
                                        <label for="elvis_fms_tab_big">FMS</label>
                                        <input type="hidden" name="elvis_fms_tab_big" value="N" />
                                    </td>
                                    <td colspan="2" id="elvis_fms_price_tab_big_text">250,000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="elvis_wms_tab_big" class="GetServicePrice" />
                                        <label for="elvis_wms_tab_big">WMS</label>
                                        <input type="hidden" name="elvis_wms_tab_big" value="N" />
                                    </td>
                                    <td colspan="2" id="elvis_wms_price_tab_big_text">250,000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="elvis_tms_tab_big" class="GetServicePrice" />
                                        <label for="elvis_tms_tab_big">TMS</label>
                                        <input type="hidden" name="elvis_tms_tab_big" value="N" />
                                    </td>
                                    <td colspan="2" id="elvis_tms_price_tab_big_text">150,000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="elvis_express_tab_big" class="GetServicePrice" />
                                        <label for="elvis_express_tab_big">특송</label>
                                        <input type="hidden" name="elvis_express_tab_big" value="N" />
                                    </td>
                                    <td colspan="2" id="elvis_express_price_tab_big_text">150,000</td>
                                </tr>
                                <tr>
                                    <td rowspan="5">
                                        <input type="checkbox" id="elvis_big" class="GetServicePrice" />
                                        <label for="elvis_big">ELVIS-BIG</label>
                                        <input type="hidden" name="elvis_big" value="N" />
                                    </td>
                                    <td>
                                        <input type="checkbox" id="elvis_big_uni" class="GetServicePrice elvisbig_category" disabled="disabled" />
                                        <label for="elvis_big_uni">수입화물/수출이행</label>
                                        <input type="hidden" name="elvis_big_uni" value="N" />
                                    </td>
                                    <td colspan="2" rowspan="5">
                                        <span id="elvis_big_price_text">100,000</span>
                                        <p style="color:#0075FF;font-size:12px;font-weight:300;margin-top:5px;">* ELVIS-BIG의 각 카테고리 별 사용금액은 50,000원 입니다.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="elvis_big_sfi" class="GetServicePrice elvisbig_category" disabled="disabled" />
                                        <label for="elvis_big_sfi">해상운임</label>
                                        <input type="hidden" name="elvis_big_sfi" value="N" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="elvis_big_ter" class="GetServicePrice elvisbig_category" disabled="disabled" />
                                        <label for="elvis_big_ter">터미널</label>
                                        <input type="hidden" name="elvis_big_ter" value="N" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="elvis_big_trk" class="GetServicePrice elvisbig_category" disabled="disabled" />
                                        <label for="elvis_big_trk">화물추적</label>
                                        <input type="hidden" name="elvis_big_trk" value="N" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="elvis_big_lat" class="GetServicePrice elvisbig_category" disabled="disabled" />
                                        <label for="elvis_big_lat">D/A 최적화</label>
                                        <input type="hidden" name="elvis_big_lat" value="N" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="background-color:#f5f5f5">월사용료</td>
                                    <td colspan="2" class="elvis_total_price">
                                        0
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text_align_center">자료이관</td>
                                    <td colspan="2">
                                        <input type="checkbox" id="elvis_cust_info" />
                                        <label for="elvis_cust_info">거래처 정보</label>
                                        <input type="hidden" name="elvis_cust_info" value="N" />
                                    </td>
                                    <td colspan="3">
                                        <input type="checkbox" id="elvis_account" />
                                        <label for="elvis_account">회계 잔액</label>
                                        <input type="hidden" name="elvis_account" value="N" />
                                    </td>
                                </tr>
                            </tbody>*@
                            <!-- E : ELVIS-BIG -->
                            <tbody>
                                <!-- 부가서비스 -->
                                <tr>
                                    <td rowspan="3" class="text_align_center">부가 서비스</td>
                                    <td rowspan="2" class="text_align_center">WEB FAX</td>
                                    <td>
                                        <input type="checkbox" id="elvis_fax" />
                                        <label for="elvis_fax">FAX</label>
                                        <input type="hidden" name="elvis_fax" value="N" />
                                    </td>
                                    <td colspan="3" style="text-align:left">
                                        송신 기본료 : + 30원/건 (전송건수에 따른 청구) <br /><br />
                                        수신 기본료 <br />
                                        &nbsp; 알뜰요금:  5,000원(  300장포함)/월  초과 건당: 20원    부가세 별도 <br />
                                        &nbsp; 기본요금: 15,000원(1,000장포함)/월 초과 건당: 20원    부가세 별도<br />
                                        &nbsp; 프로요금: 20,000원(2,000장포함)/월   초과 건당: 20원    부가세 별도
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="elvis_sms" />
                                        <label for="elvis_sms">SMS</label>
                                        <input type="hidden" name="elvis_sms" value="N" />
                                    </td>
                                    <td colspan="3" style="text-align:left">기   본  료 :  FAX 알뜰 요금제 사용 시 +15원/건(전송건수에 따른 청구), 기본 or 프로 요금제 무료</td>
                                </tr>
                                <tr>
                                    <td class="text_align_center">Backup</td>
                                    <td colspan="4">Data Back-up 2중화 서비스</td>
                                </tr>
                                <!-- 계산서 전송 -->
                                <tr>
                                    <td class="text_align_center">계산서 전송</td>
                                    <td class="text_align_center">LogisBill</td>
                                    <td colspan="4">KL-Net 로지스빌 이용 <strong>(중계사 별도 가입 필요)</strong></td>
                                </tr>
                                <!-- EDI 전송 -->
                                <tr>
                                    <td rowspan="2" class="text_align_center">EDI 전송</td>
                                    <td class="text_align_center">적하목록</td>
                                    <td colspan="4">해상: KL-Net & KT-Net / 항공: KC-Net & KT-Net / 기타 : ELVIS CHAIN 이용 <strong>(중계망사업자 별 가입 필요)</strong></td>
                                </tr>
                                <tr>
                                    <td class="text_align_center">AMS/AFR</td>
                                    <td colspan="4">항공 AMS : KC-Net / 해상 AMS : KT-Net / 해상 AFR : KL-Net 이용 <strong>(중계망사업자 별 가입 필요)</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- 가격 데이터 넣기 -->
                    <input type="hidden" id="elvis_hidden_total_price" name="elvis_total_price" value="0" />
                    <input type="hidden" id="elvis_fms_price" name="elvis_fms_price" />
                    <input type="hidden" id="elvis_wms_price" name="elvis_wms_price" />
                    <input type="hidden" id="elvis_tms_price" name="elvis_tms_price" />
                    <input type="hidden" id="elvis_express_price" name="elvis_express_price" />
                    <input type="hidden" id="elvis_prime_price" name="elvis_prime_price" />
                    <input type="hidden" id="elvis_big_price" name="elvis_big_price" />
                    <input type="hidden" id="elvis_big_uni_price" name="elvis_big_uni_price" />
                    <input type="hidden" id="elvis_big_sfi_price" name="elvis_big_sfi_price" />
                    <input type="hidden" id="elvis_big_ter_price" name="elvis_big_ter_price" />
                    <input type="hidden" id="elvis_big_trk_price" name="elvis_big_trk_price" />
                    <input type="hidden" id="elvis_big_lat_price" name="elvis_big_lat_price" />
                    <input type="hidden" id="elvis_big_docu_price" name="elvis_big_docu_price" />
                    <input type="hidden" id="elvis_big_exim_price" name="elvis_big_exim_price" />
                    <input type="hidden" id="elvis_big_data_price" name="elvis_big_data_price" />


                    <div class="Elvis_File_Area">
                        <div class="row">
                            <div class="cell_tit_center">
                                <span>양식을 다운로드 받아서 업로드 해 주세요.</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell_area">
                                <div class="cell_tit">
                                    <span class="required">*</span>사업자 등록 사본
                                </div>
                                <div class="cell_td">
                                    <div class="cell_button_area1">
                                        <label class="cell_Onebutton" for="Elvis_Crn_Upload">업로드</label>
                                        <input type="file" id="Elvis_Crn_Upload" name="Elvis_Crn_Upload" style="display:none">
                                    </div>
                                    <input type="text" id="Elvis_Crn_FileName" class="int input_readonly" value="" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell_area">
                                <div class="cell_tit">
                                    <span class="required"></span>ELVIS 청구 내용
                                </div>
                                <div class="cell_td">
                                    <div class="cell_button_area2">
                                        <a href="/Files/ELVIS_청구.doc" class="btn_downloadForm" download>
                                            양식
                                            @*<label class="btn_downloadForm" for="Elvis_Charge_form">양식</label>
                            <input type="file" id="Elvis_Charge_form" style="display:none">*@
                                        </a>
                                    </div>
                                    <div class="cell_button_area2">
                                        <label class="cell_Onebutton" for="Elvis_Charge_Upload">업로드</label>
                                        <input type="file" id="Elvis_Charge_Upload" name="Elvis_Charge_Upload" style="display:none">
                                    </div>
                                    <input type="text" id="Elvis_Charge_FileName" class="int input_readonly" value="" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell_area">
                                <div class="cell_tit">
                                    <span class="required"></span>자동이체 신청서
                                </div>
                                <div class="cell_td">
                                    <div class="cell_button_area2">
                                        <a href="/Files/ELVIS_자동이체신청서.doc" class="btn_downloadForm" download>양식</a>
                                        @*<label class="btn_downloadForm" for="Elvis_Auto_form">양식</label>
                        <input type="file" id="Elvis_Auto_form" style="display:none">*@
                                    </div>
                                    <div class="cell_button_area2">
                                        <label class="cell_Onebutton" for="Elvis_Auto_Upload">업로드</label>
                                        <input type="file" id="Elvis_Auto_Upload" name="Elvis_Auto_Upload" style="display:none">
                                    </div>
                                    <input type="text" id="Elvis_Auto_FileName" class="int input_readonly" value="" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell_area">
                                <div class="cell_tit">
                                    <span class="required"></span>회사소개서
                                </div>
                                <div class="cell_td">
                                    <div class="cell_button_area1">
                                        <label class="cell_Onebutton" for="Elvis_Friend_Upload">업로드</label>
                                        <input type="file" id="Elvis_Friend_Upload" name="Elvis_Friend_Upload" style="display:none">
                                    </div>
                                    <input type="text" id="Elvis_Friend_FileName" class="int input_readonly" value="" readonly />
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- ELVIS 신청 내용 (VAT별도) -->

                    <div class="Elvis_Manuals_Area">
                        <a href="~/Files/ELVIS_매뉴얼.zip" class="Elvis_Manual" id="Elvis_Manual_Download" download><img src="~/Images/clips.png" class="Elvis_Clip_Icon" />매뉴얼 다운로드</a>
                    </div>

                    <!-- btn_center -->
                    <div class="btn_center">
                        <button type="button" id="btn_Regester" name="btnJoin" class="btns radius cr4 big NO_Access">동의하고 가입하기</button>
                        @*<a href="javascript:void(0)" class="btns radius cr3 big" onclick="location.href='@Url.Action("Login", "User")'">취소</a>*@
                        <br /><br />
                        <div style="font-size:10pt"> 본인은 <a href="javascript:void(0)" style="text-decoration:underline;" onclick="layerPopup('#terms');">이용약관</a> 및  <a href="javascript:void(0)" id="terms_show" style="text-decoration:underline;" onclick="layerPopup('#policy');">개인정보취급방침</a> , <a href="javascript:void(0)" style="text-decoration:underline;" onclick="layerPopup('#Noget_Email');">이메일무단수집거부</a>을 확인 하였으며, 동의합니다.</div>
                    </div>
                    <!-- //btn_center -->
                </div>
            </form>
            <!-- //contents -->
        </div>
    </section>

    @Scripts.Render("~/Scripts/js/Service/Service.js")
}