@{
    ViewBag.Title = "Warehouse";
    ViewBag.Sub = "Inout";

    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

@section Container {
    <div class="container">
        <div class="subtitlezone">
            <h1 class="subtitle"><span>입/출고 조회</span></h1>
        </div>
        <div class="fixed_in type2">

        </div>
    </div>
}