@{
    ViewBag.Title = "Perform";
    ViewBag.Sub = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@section Container {
    <!-- S : section -->
    <section class="section perform list_in">
        <div class="container">
            <div class="content">
                <!-- S : search-area -->
                <div class="search-area">
                    <div class="search__input int_box" id="AC_CUST_Width">
                        <input type="text" class="auto" placeholder="거래처 (3자리 이상 입력 해주세요)" id="input_CUST_NM" />
                        @*<button type="button" class="btns icon delete has_icn" id="btn_deleteCust" style="display: none;"><span class="blind">삭제</span></button>*@
                        <input type="hidden" id="input_CUST_CD" />
                    </div>
                    <div class="search__input int_box">
                        <input type="text" class="" placeholder="HBL No" id="input_HBL_NO" />
                        <button type="button" class="btns icon delete" style="display: none;"><span class="blind">삭제</span></button>
                    </div>
                    <div class="search__select" id="select_status">
                        <select>
                            <option class="black" value="" selected>실적마감 여부</option>
                            <option class="black" value="N">미마감</option>
                            <option class="black" value="E">마감</option>
                            <option class="black" value="C">마감취소</option>
                        </select>
                    </div>
                    <div class="search__button">
                        <button type="button" class="btns search" id="btn_Search" onclick="fnMovePage('Perform_Result')">조회</button>
                    </div>
                </div>
                <!-- E : search-area -->
                <!-- S : result-area -->
                <div class="result-area" id="Perform_Result">
                    <div class="result-box no-data">
                        <img src="~/Images/Common/icn_nodata.png" />
                        <span id="no_data_text"></span>
                    </div>
                    @*<div class="result-box">
                            <div class="result-title">
                                <h3 class="result-type1">CUSTOM AGENT TGL INTERNATIONAL LLC, FOR PERMANENT ESTABLISHMENT OF HYUNDAI ENGINEERING CO., LTD</h3>
                                <button type="button" class="btns plus"></button>
                            </div>
                            <div class="result-customer__detail">
                                <div class="customer-hbl">
                                    <h4 class="customer-hbl__title">HLCUBSC2005BGQD7-X01</h4>
                                    <button type="button" class="btns unfinished">미마감</button>
                                    <div class="perform-radio">
                                        <input type="radio" name="perform_1_1" id="perform-radio1_1_1" checked="checked" />
                                        <label class="perform-radio__button" for="perform-radio1_1_1">마감</label>
                                        <input type="radio" name="perform_1_1" id="perform-radio2_1_1" />
                                        <label class="perform-radio__button" for="perform-radio2_1_1">마감취소</label>
                                    </div>
                                    <div class="result-tbl">
                                        <div class="result-tbl__bundle">
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>MBL</p></div>
                                                <div class="result-tbl__desc"><p>HLCUBSC2005BGQD7-X01</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>HBL</p></div>
                                                <div class="result-tbl__desc"><p>HLCUBSC2005BGQD7-X01</p></div>
                                            </div>
                                        </div>
                                        <div class="result-tbl__bundle">
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>POL</p></div>
                                                <div class="result-tbl__desc"><p>KRINC</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>POD</p></div>
                                                <div class="result-tbl__desc"><p>CNSHA</p></div>
                                            </div>
                                        </div>
                                        <div class="result-tbl__hidden">
                                            <div class="result-tbl__bundle">
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>국내매출</p></div>
                                                    <div class="result-tbl__desc"><p>4,548,034,741.00</p></div>
                                                </div>
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>국내매입</p></div>
                                                    <div class="result-tbl__desc"><p>3,649,908,000.00</p></div>
                                                </div>
                                            </div>
                                            <div class="result-tbl__bundle">
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Debit</p></div>
                                                    <div class="result-tbl__desc"><p>3,649,908,000.00</p></div>
                                                </div>
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Credit</p></div>
                                                    <div class="result-tbl__desc"><p>-3,728,459,745.00</p></div>
                                                </div>
                                            </div>
                                            <div class="result-tbl__bundle">
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Share 영업사원</p></div>
                                                    <div class="result-tbl__desc"><p>김태웅</p></div>
                                                </div>
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Share 팀명</p></div>
                                                    <div class="result-tbl__desc"><p>CIS&중동영업팀</p></div>
                                                </div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>Share 금액</p></div>
                                                <div class="result-tbl__desc"><p>-534,922,136.00</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>최종실적금액</p></div>
                                                <div class="result-tbl__desc"><p class="red">-3,728,459,745.00(KRW)</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>최종실적금액</p></div>
                                                <div class="result-tbl__desc"><p class="red">-3,050,394.496553(USD)</p></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result-tbl__button">
                                        <button type="button" class="btns open"><span class="hidden">펼치기</span></button>
                                    </div>
                                </div>
                                <div class="customer-hbl">
                                    <h4 class="customer-hbl__title">HLCUBSC2005BGQD7-X01</h4>
                                    <button type="button" class="btns unfinished hide">미마감</button>
                                    <div class="perform-radio show">
                                        <input type="radio" name="perform_1_2" id="perform-radio1_1_2" checked="checked" />
                                        <label class="perform-radio__button" for="perform-radio1_1_2">마감</label>
                                        <input type="radio" name="perform_1_2" id="perform-radio2_1_2" />
                                        <label class="perform-radio__button" for="perform-radio2_1_2">마감취소</label>
                                    </div>
                                    <div class="result-tbl">
                                        <div class="result-tbl__bundle">
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>MBL</p></div>
                                                <div class="result-tbl__desc"><p>HLCUBSC2005BGQD7-X01</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>HBL</p></div>
                                                <div class="result-tbl__desc"><p>HLCUBSC2005BGQD7-X01</p></div>
                                            </div>
                                        </div>
                                        <div class="result-tbl__bundle">
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>POL</p></div>
                                                <div class="result-tbl__desc"><p>KRINC</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>POD</p></div>
                                                <div class="result-tbl__desc"><p>CNSHA</p></div>
                                            </div>
                                        </div>
                                        <div class="result-tbl__hidden">
                                            <div class="result-tbl__bundle">
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>국내매출</p></div>
                                                    <div class="result-tbl__desc"><p>4,548,034,741.00</p></div>
                                                </div>
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>국내매입</p></div>
                                                    <div class="result-tbl__desc"><p>3,649,908,000.00</p></div>
                                                </div>
                                            </div>
                                            <div class="result-tbl__bundle">
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Debit</p></div>
                                                    <div class="result-tbl__desc"><p>3,649,908,000.00</p></div>
                                                </div>
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Credit</p></div>
                                                    <div class="result-tbl__desc"><p>-3,728,459,745.00</p></div>
                                                </div>
                                            </div>
                                            <div class="result-tbl__bundle">
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Share 영업사원</p></div>
                                                    <div class="result-tbl__desc"><p>김태웅</p></div>
                                                </div>
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Share 팀명</p></div>
                                                    <div class="result-tbl__desc"><p>CIS&중동영업팀</p></div>
                                                </div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>Share 금액</p></div>
                                                <div class="result-tbl__desc"><p>-534,922,136.00</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>최종실적금액</p></div>
                                                <div class="result-tbl__desc"><p class="red">-3,728,459,745.00(KRW)</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>최종실적금액</p></div>
                                                <div class="result-tbl__desc"><p class="red">-3,050,394.496553(USD)</p></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result-tbl__button">
                                        <button type="button" class="btns open"><span class="hidden">펼치기</span></button>
                                    </div>
                                </div>
                                <div class="customer-hbl">
                                    <h4 class="customer-hbl__title">HLCUBSC2005BGQD7-X01</h4>
                                    <button type="button" class="btns unfinished hide">미마감</button>
                                    <div class="perform-radio disabled show">
                                        <input type="radio" name="perform_1_3" id="perform-radio1_1_3" checked="checked" disabled />
                                        <label class="perform-radio__button" for="perform-radio1_1_3">마감</label>
                                        <input type="radio" name="perform_1_3" id="perform-radio2_1_3" disabled />
                                        <label class="perform-radio__button" for="perform-radio2_1_3">마감취소</label>
                                    </div>
                                    <div class="result-tbl">
                                        <div class="result-tbl__bundle">
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>MBL</p></div>
                                                <div class="result-tbl__desc"><p>HLCUBSC2005BGQD7-X01</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>HBL</p></div>
                                                <div class="result-tbl__desc"><p>HLCUBSC2005BGQD7-X01</p></div>
                                            </div>
                                        </div>
                                        <div class="result-tbl__bundle">
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>POL</p></div>
                                                <div class="result-tbl__desc"><p>KRINC</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>POD</p></div>
                                                <div class="result-tbl__desc"><p>CNSHA</p></div>
                                            </div>
                                        </div>
                                        <div class="result-tbl__hidden">
                                            <div class="result-tbl__bundle">
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>국내매출</p></div>
                                                    <div class="result-tbl__desc"><p>4,548,034,741.00</p></div>
                                                </div>
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>국내매입</p></div>
                                                    <div class="result-tbl__desc"><p>3,649,908,000.00</p></div>
                                                </div>
                                            </div>
                                            <div class="result-tbl__bundle">
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Debit</p></div>
                                                    <div class="result-tbl__desc"><p>3,649,908,000.00</p></div>
                                                </div>
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Credit</p></div>
                                                    <div class="result-tbl__desc"><p>-3,728,459,745.00</p></div>
                                                </div>
                                            </div>
                                            <div class="result-tbl__bundle">
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Share 영업사원</p></div>
                                                    <div class="result-tbl__desc"><p>김태웅</p></div>
                                                </div>
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Share 팀명</p></div>
                                                    <div class="result-tbl__desc"><p>CIS&중동영업팀</p></div>
                                                </div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>Share 금액</p></div>
                                                <div class="result-tbl__desc"><p>-534,922,136.00</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>최종실적금액</p></div>
                                                <div class="result-tbl__desc"><p class="red">-3,728,459,745.00(KRW)</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>최종실적금액</p></div>
                                                <div class="result-tbl__desc"><p class="red">-3,050,394.496553(USD)</p></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result-tbl__button">
                                        <button type="button" class="btns open"><span class="hidden">펼치기</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="result-box">
                            <div class="result-title">
                                <h3 class="result-type1">CUSTOM AGENT TGL INTERNATIONAL LLC, FOR PERMANENT ESTABLISHMENT OF HYUNDAI ENGINEERING CO., LTD</h3>
                                <button type="button" class="btns plus"></button>
                            </div>
                            <div class="result-customer__detail">
                                <div class="customer-hbl">
                                    <h4 class="customer-hbl__title">HLCUBSC2005BGQD7-X01</h4>
                                    <button type="button" class="btns unfinished">미마감</button>
                                    <div class="perform-radio">
                                        <input type="radio" name="perform_2_1" id="perform-radio1_2_1" checked="checked" />
                                        <label class="perform-radio__button" for="perform-radio1_2_1">마감</label>
                                        <input type="radio" name="perform_2_1" id="perform-radio2_2_1" />
                                        <label class="perform-radio__button" for="perform-radio2_2_1">마감취소</label>
                                    </div>
                                    <div class="result-tbl">
                                        <div class="result-tbl__bundle">
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>MBL</p></div>
                                                <div class="result-tbl__desc"><p>HLCUBSC2005BGQD7-X01</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>HBL</p></div>
                                                <div class="result-tbl__desc"><p>HLCUBSC2005BGQD7-X01</p></div>
                                            </div>
                                        </div>
                                        <div class="result-tbl__bundle">
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>POL</p></div>
                                                <div class="result-tbl__desc"><p>KRINC</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>POD</p></div>
                                                <div class="result-tbl__desc"><p>CNSHA</p></div>
                                            </div>
                                        </div>
                                        <div class="result-tbl__hidden">
                                            <div class="result-tbl__bundle">
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>국내매출</p></div>
                                                    <div class="result-tbl__desc"><p>4,548,034,741.00</p></div>
                                                </div>
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>국내매입</p></div>
                                                    <div class="result-tbl__desc"><p>3,649,908,000.00</p></div>
                                                </div>
                                            </div>
                                            <div class="result-tbl__bundle">
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Debit</p></div>
                                                    <div class="result-tbl__desc"><p>3,649,908,000.00</p></div>
                                                </div>
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Credit</p></div>
                                                    <div class="result-tbl__desc"><p>-3,728,459,745.00</p></div>
                                                </div>
                                            </div>
                                            <div class="result-tbl__bundle">
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Share 영업사원</p></div>
                                                    <div class="result-tbl__desc"><p>김태웅</p></div>
                                                </div>
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Share 팀명</p></div>
                                                    <div class="result-tbl__desc"><p>CIS&중동영업팀</p></div>
                                                </div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>Share 금액</p></div>
                                                <div class="result-tbl__desc"><p>-534,922,136.00</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>최종실적금액</p></div>
                                                <div class="result-tbl__desc"><p class="red">-3,728,459,745.00(KRW)</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>최종실적금액</p></div>
                                                <div class="result-tbl__desc"><p class="red">-3,050,394.496553(USD)</p></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result-tbl__button">
                                        <button type="button" class="btns open"><span class="hidden">펼치기</span></button>
                                    </div>
                                </div>
                                <div class="customer-hbl">
                                    <h4 class="customer-hbl__title">HLCUBSC2005BGQD7-X01</h4>
                                    <button type="button" class="btns unfinished">미마감</button>
                                    <div class="perform-radio">
                                        <input type="radio" name="perform_2_2" id="perform-radio1_2_2" checked="checked" />
                                        <label class="perform-radio__button" for="perform-radio1_2_2">마감</label>
                                        <input type="radio" name="perform_2_2" id="perform-radio2_2_2" />
                                        <label class="perform-radio__button" for="perform-radio2_2_2">마감취소</label>
                                    </div>
                                    <div class="result-tbl">
                                        <div class="result-tbl__bundle">
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>MBL</p></div>
                                                <div class="result-tbl__desc"><p>HLCUBSC2005BGQD7-X01</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>HBL</p></div>
                                                <div class="result-tbl__desc"><p>HLCUBSC2005BGQD7-X01</p></div>
                                            </div>
                                        </div>
                                        <div class="result-tbl__bundle">
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>POL</p></div>
                                                <div class="result-tbl__desc"><p>KRINC</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>POD</p></div>
                                                <div class="result-tbl__desc"><p>CNSHA</p></div>
                                            </div>
                                        </div>
                                        <div class="result-tbl__hidden">
                                            <div class="result-tbl__bundle">
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>국내매출</p></div>
                                                    <div class="result-tbl__desc"><p>4,548,034,741.00</p></div>
                                                </div>
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>국내매입</p></div>
                                                    <div class="result-tbl__desc"><p>3,649,908,000.00</p></div>
                                                </div>
                                            </div>
                                            <div class="result-tbl__bundle">
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Debit</p></div>
                                                    <div class="result-tbl__desc"><p>3,649,908,000.00</p></div>
                                                </div>
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Credit</p></div>
                                                    <div class="result-tbl__desc"><p>-3,728,459,745.00</p></div>
                                                </div>
                                            </div>
                                            <div class="result-tbl__bundle">
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Share 영업사원</p></div>
                                                    <div class="result-tbl__desc"><p>김태웅</p></div>
                                                </div>
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Share 팀명</p></div>
                                                    <div class="result-tbl__desc"><p>CIS&중동영업팀</p></div>
                                                </div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>Share 금액</p></div>
                                                <div class="result-tbl__desc"><p>-534,922,136.00</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>최종실적금액</p></div>
                                                <div class="result-tbl__desc"><p class="red">-3,728,459,745.00(KRW)</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>최종실적금액</p></div>
                                                <div class="result-tbl__desc"><p class="red">-3,050,394.496553(USD)</p></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result-tbl__button">
                                        <button type="button" class="btns open"><span class="hidden">펼치기</span></button>
                                    </div>
                                </div>
                                <div class="customer-hbl">
                                    <h4 class="customer-hbl__title">HLCUBSC2005BGQD7-X01</h4>
                                    <button type="button" class="btns unfinished">미마감</button>
                                    <div class="perform-radio">
                                        <input type="radio" name="perform_2_3" id="perform-radio1_2_3" checked="checked" />
                                        <label class="perform-radio__button" for="perform-radio1_2_3">마감</label>
                                        <input type="radio" name="perform_2_3" id="perform-radio2_2_3" />
                                        <label class="perform-radio__button" for="perform-radio2_2_3">마감취소</label>
                                    </div>
                                    <div class="result-tbl">
                                        <div class="result-tbl__bundle">
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>MBL</p></div>
                                                <div class="result-tbl__desc"><p>HLCUBSC2005BGQD7-X01</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>HBL</p></div>
                                                <div class="result-tbl__desc"><p>HLCUBSC2005BGQD7-X01</p></div>
                                            </div>
                                        </div>
                                        <div class="result-tbl__bundle">
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>POL</p></div>
                                                <div class="result-tbl__desc"><p>KRINC</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>POD</p></div>
                                                <div class="result-tbl__desc"><p>CNSHA</p></div>
                                            </div>
                                        </div>
                                        <div class="result-tbl__hidden">
                                            <div class="result-tbl__bundle">
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>국내매출</p></div>
                                                    <div class="result-tbl__desc"><p>4,548,034,741.00</p></div>
                                                </div>
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>국내매입</p></div>
                                                    <div class="result-tbl__desc"><p>3,649,908,000.00</p></div>
                                                </div>
                                            </div>
                                            <div class="result-tbl__bundle">
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Debit</p></div>
                                                    <div class="result-tbl__desc"><p>3,649,908,000.00</p></div>
                                                </div>
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Credit</p></div>
                                                    <div class="result-tbl__desc"><p>-3,728,459,745.00</p></div>
                                                </div>
                                            </div>
                                            <div class="result-tbl__bundle">
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Share 영업사원</p></div>
                                                    <div class="result-tbl__desc"><p>김태웅</p></div>
                                                </div>
                                                <div class="result-tbl__cont">
                                                    <div class="result-tbl__title"><p>Share 팀명</p></div>
                                                    <div class="result-tbl__desc"><p>CIS&중동영업팀</p></div>
                                                </div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>Share 금액</p></div>
                                                <div class="result-tbl__desc"><p>-534,922,136.00</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>최종실적금액</p></div>
                                                <div class="result-tbl__desc"><p class="red">-3,728,459,745.00(KRW)</p></div>
                                            </div>
                                            <div class="result-tbl__cont">
                                                <div class="result-tbl__title"><p>최종실적금액</p></div>
                                                <div class="result-tbl__desc"><p class="red">-3,050,394.496553(USD)</p></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result-tbl__button">
                                        <button type="button" class="btns open"><span class="hidden">펼치기</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
                <!-- E : result-area -->
            </div>
        </div>
    </section>

    <div class="layer_zone alert_type" id="layer_End">
        <div class="layer_wrap">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <div class="alert_cont">
                        <img src="~/Images/Common/icn_alert.png" />
                        <div class="inner2">
                            마감 하시겠습니까?
                        </div>
                    </div>
                    <div class="btn_w">
                        <button type="button" class="btns alert_cancel" id="btn_End_Cancel">취소</button>
                        <button type="button" class="btns alert_confirm" id="btn_End_Confirm">확인</button>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div class="layer_zone alert_type" id="layer_EndCancel">
        <div class="layer_wrap">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <div class="alert_cont">
                        <img src="~/Images/Common/icn_alert.png" />
                        <div class="inner2">
                            마감취소 하시겠습니까?
                        </div>
                    </div>
                    <div class="btn_w">
                        <button type="button" class="btns alert_cancel" id="btn_EndCancel_Cancel">취소</button>
                        <button type="button" class="btns alert_confirm" id="btn_EndCancel_Confirm">확인</button>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <!-- E : section -->
    @Scripts.Render("/Scripts/js/Perform/perform.js")
}