@{    
    ViewBag.Title = "business";
    ViewBag.Sub = "transport";
    Layout = "~/Views/Shared/_subLayout.cshtml";           
}

@section Container {
		<!-- container -->
		<div class="container">
			<!-- contents -->
			<div class="contents">
				<h3 class="subtitle"><span>국제복합운송</span></h3>
				<h4 class="title01 a_center">International Multimodal Transport</h4>
			</div>
			<!-- //contents -->
			<!-- transport_w -->
			<div class="transport_w">
				<div class="fix_inner">
					<div class="transport_box">
						<div class="title">
							<strong>국제복합운송<br />서비스 영역</strong>
						</div>
						<div class="item no01">
							<div class="tit">
								<em>해상수출 <span class="bul"></span></em>
								<div class="list_box">
									<ul>
										<li>· LCL 콘솔 서비스(전 세계 54개국, 102 여개의 <br />
										   항구 다이렉트 콘솔), 환적화물 서비스</li>
										<li>· FCL 컨테이너 서비스, 벌크/프로젝트 카고, <br />
										   국내 운송, 통관 대행, 보험 3자 물류 등</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="item no02">
							<div class="tit">
								<em>해상수입 <span class="bul"></span></em>
								<div class="list_box">
									<ul>
										<li>· LCL 콘솔 서비스, EDI, D/O 발행, 국내운수, <br />
	   									수입통관대행, 창고보관, 위험물 취급</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="item no03">
							<div class="tit">항공수출</div>
						</div>
						<div class="item no04">
							<div class="tit">항공수입</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //transport_w -->
		</div>
		<!-- //container -->
}


