@{    
    ViewBag.Title = "business";
    ViewBag.Sub = "warehouse";
    Layout = "~/Views/Shared/_subLayout.cshtml";           
}

@section Container {
		<!-- container -->
		<div class="container">
			<!-- contents -->
			<div class="contents">
				<h3 class="subtitle"><span>창고사업</span></h3>
				<!-- warehouse_w -->
				<div class="warehouse_w">
					<h4 class="title01 a_center">창고사업</h4>
					
					<div class="wb_box01">
						<table class="tbl_type02">
							<tbody>
								<tr>
									<th>창고명</th>
									<td>페어허브물류</td>
								</tr>
								<tr>
									<th>주소</th>
									<td>경상남도 창원시 진해구 신항8로 321(남문동)</td>
								</tr>
								<tr>
									<th>전체 면적</th>
									<td>
										33,738.00 ㎡ (10,206평) 고내면적 – 4,000평, <br />
										야드면적 – 5,700평, 위험물창고 – 170평, <br />
										항온항습 – 130평, 사무동 – 396평
									</td>
								</tr>
							</tbody>
						</table>
						<p class="box">
							계근대 (VGM - 총중량 검증제에 따른 Method 1 측량 가능) 냉동컨테이너 전기 콘센트 (6구)<br />
							각종 중기 (중장비) 사무동 내, 개별 사무실 사용 가능
						</p>
					</div>
				</div>
				<!-- //warehouse_w -->
			</div>
			<!-- //contents -->
			<!-- warehouse_w -->
			<div class="warehouse_w part2">
				<!-- wb_box02 -->
				<div class="wb_box02">
					<div class="fix_inner">
						<div class="wh_list">
							<!-- item -->
							<div class="item">
								<div class="inner">
									<strong class="tit">복합물류센터</strong>
									<div class="cell">
										<ul>
											<li>· 일반화물, 위험물 등 다양한 화물 취급 가능</li>
											<li>· Inventory 관리 및 정보제공 </li>
											<li>· 다양한 부가물류 서비스 → 분류, 라벨링, 포장, 조립, 
											   혼재 등 </li>
											<li>· 화주맞춤형 서비스 → Palletizing, 포장, 검사업무 수행</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- //item -->
							<!-- item -->
							<div class="item">
								<div class="inner">
									<strong class="tit">고객의<br class="pc" /> 지역물류거점 역할</strong>
									<div class="cell">
										<ul>
											<li>· 화주 업종별(콘솔) 공동물류센터 역할 </li>
											<li>· 콘솔화물의 지역물류거점(RDC)</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- //item -->
							<!-- item -->
							<div class="item">
								<div class="inner">
									<strong class="tit">물류 Consulting<br class="pc" />서비스</strong>
									<div class="cell">
										<ul>
											<li>· 현상 (Process, Cost, Lead Time 등) 분석 → 진단 → 
										   New Process제안 + 적용, 개선 → 신물류체계 구축 → 
										   지속 개선, 효율화, 최적화</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- //item -->
							<!-- item -->
							<div class="item">
								<div class="inner">
									<strong class="tit">국제운송/수출입<br class="pc" />포워딩 서비스</strong>
									<div class="cell">
										<ul>
											<li>· 주요선사, 항공사, 관계사, 주주사의 협력 Network를 통한 
											   수출입화물의 International Freight Forwarding Service</li>
											<li>· 메이저급 해외 파트너와의 Network 연계 활용을 통한 콘솔
											   화물 등 각종화물의 운송과 고객 Needs에 부합하는 서비스 
											   실현</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- //item -->
							<!-- item -->
							<div class="item">
								<div class="inner">
									<strong class="tit">수출입 통관대행<br class="pc" />서비스 제공</strong>
									<div class="cell">
										<ul>
											<li>· 전문인력과 Know-how를 통한 신속, 원활한 통관 </li>
											<li>· CY/CFS, 보세창고 등의 Infra 연계한 서비스 제공</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- //item -->
							<!-- item -->
							<div class="item">
								<div class="inner">
									<strong class="tit">다양한<br class="pc" />국내운송/수.배송<br class="pc" />서비스</strong>
									<div class="cell">
										<ul>
											<li>· 전국적 물류 INFRA 및 Network 협력사를 활용한 신속 
											   정확한 운송서비스 </li>
											<li>· 컨테이너, Bulk, 일반화물 택배 등의 다양한 운송 Mode 활용</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- //item -->
						</div>
					</div>
				</div>
				<!-- //wb_box02 -->
				<!-- wb_box03 -->
				<div class="fix_inner">
					<div class="wb_box03">
						<h4 class="title01">오시는길</h4>
						<div class="pc"><img src="/Images/cont/warehouse_map.png" alt="경상남도 창원시 진해구 신항8로 321(남문동)"></div>
						<div class="mo"><img src="/Images/cont/warehouse_map_mo.png" alt="경상남도 창원시 진해구 신항8로 321(남문동)"></div>
					</div>
				<!-- //wb_box03 -->
				</div>
			</div>
			<!-- //warehouse_w -->
		</div>
		<!-- //container -->
}
