
@{
    ViewBag.Title = "L_Packing";

    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@section Container {
    <section class="container" id="container">
        <div class="contents">
            <!-- title -->
            <div class="sub_title">
                <h2>PACKING</h2>
            </div>
            <!-- //title -->
            <!-- search_zone -->
            <div class="search_zone layout6">
                <div class="inner">
                    <div class="col">
                        <select class="sel st1" name="" id="Select_Plant">
                            <option value="">PLANT</option>
                            <option value="LREC">E-COMMERCE</option>
                            <option value="LRRT">RETAIL</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="sel st1" name="" id="Select_OrderID">
                            <option value="">ORDER ID</option>
                        </select>
                    </div>
                    <div class="col">
                        <div class="int_box">
                            <input type="text" placeholder="상품라벨" id="Input_Item_Barcode" maxlength="24">
                            <button type="button" class="btns icon delete" style="display: none;"><span class="blind">삭제</span></button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="int_box">
                            <input type="text" placeholder="PRICE 라벨" id="Input_Price_Barcode" maxlength="24">
                            <button type="button" class="btns icon delete" style="display: none;"><span class="blind">삭제</span></button>
                        </div>
                    </div>
                    <div class="col">
                        <label>Total : <span id="Span_Total">0</span> / </label>
                        <label>Count : <span id="Span_Count">0</span></label>
                    </div>
                </div>
                <div class="inner" style="margin-top:10px;">
                    <div class="col">
                        <div class="int_box none">
                            <button class="Search_button" id="btn_Item_Barcode">상품라벨 입력</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="int_box none">
                            <button class="Search_button" id="btn_Price_Barcode">PRICE 라벨 입력</button>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <!-- search_zone -->
            <div class="tbl_body_scroll150" id="Packing_Scroll">
                <table class="list_type2">
                    <colgroup class="pc">
                        <col class="w10per">
                        <col class="w30per">
                        <col class="w30per">
                        <col class="w10per">
                        <col class="w20per">
                    </colgroup>
                    <colgroup class="mo">
                        <col class="w1">
                        <col class="w180">
                        <col class="w180">
                        <col class="w130">
                        <col>
                    </colgroup>
                    <thead class="head">
                        <tr class="row">
                            <th>NO</th>
                            <th>상품라벨</th>
                            <th>PRICE 라벨</th>
                            <th>수량</th>
                            <th>LOCATION</th>
                        </tr>
                    </thead>
                    <tbody id="Packing_Result_Area">
                        @*<tr>
                            <td>1</td>
                            <td>00111559704021MSSM155319</td>
                            <td>00111559704021MSSM155319</td>
                            <td>1</td>
                            <td>B06-D01-H03</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>00120491503021MSSL166428</td>
                            <td>00120491503021MSSL166428</td>
                            <td>1</td>
                            <td>D07-D03-H02</td>
                        </tr>*@
                    </tbody>
                </table>
            </div>
            <div class="button_area packing_right">

                <div class="int_box" style="margin-bottom:10px;">
                    <input type="text" placeholder="BOX ID" id="Input_BOXID" readonly="readonly" disabled="disabled">
                </div>

                <select class="sel st1" name="" id="Select_BoxType">
                    <option value="">BOX TYPE</option>
                    <option value="B">Big</option>
                    <option value="M">Medium</option>
                    <option value="S">Small</option>
                    <option value="H">Hanger</option>
                </select>                
            </div>
            <div class="button_area packing">
                <input type="button" class="btns type10" id="btn_Packing_Save" value="저장" />
            </div>

        </div>
    </section>

    <div class="layer_zone alert_layer" id="Packing_Confirm" style="z-index:10001">
        <div class="layer_wrap">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <!-- alert_cont -->
                    <div class="alert_cont">
                        <div class="inner2">
                            내 작업으로 설정 하시겠습니까?
                        </div>
                    </div>
                    <!-- //alert_cont -->
                    <!-- btn_w -->
                    <div class="btn_center">
                        <button type="button" class="btns type9 yes" id="Packing_Confirm_Yes">예</button>
                        <button type="button" class="btns type9" id="Packing_Confirm_No">아니오</button>
                    </div>
                    <!-- //btn_w -->
                </article>
            </div>
        </div>
    </div>

    <div class="layer_zone alert_layer" id="Save_Confirm" style="z-index:10001">
        <div class="layer_wrap">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <!-- alert_cont -->
                    <div class="alert_cont">
                        <div class="inner2">
                            저장 하시겠습니까?
                        </div>
                    </div>
                    <!-- //alert_cont -->
                    <!-- btn_w -->
                    <div class="btn_center">
                        <button type="button" class="btns type9 yes" id="Save_Confirm_Yes">예</button>
                        <button type="button" class="btns type9" onclick="layerClose('#Save_Confirm');">아니오</button>
                    </div>
                    <!-- //btn_w -->
                </article>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/js/LOLOPIANA/Packing.js")
}